<%- include ('partials/header',{title:"Evermore Knights | Pre-Registration",display:"false"}) %> 
<%- include ('partials/preregister') %> 
<style>
  body{
    background-color: #003357 !important;
  }
</style>
<div style="display: flex; justify-content: center; align-items: center;" class="mobile-view2 bounce2">
  <img src="/public/assets/yes-03.png" width="80px" height="80px" alt=""/>
</div>
<div class="youtube_wrapper">
  <div style="width: 100%; height: auto;">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1845 1217">
      <defs>
        <clipPath id="clip-path-youtube">
          <rect id="path_youtube" data-name="path_youtube_2" width="1845" height="1217" transform="translate(-16168 8641)" fill="#fff" stroke="#707070" stroke-width="1"/>
        </clipPath>
        <clipPath id="clip-path-youtube-2">
          <path id="path_youtube_2" data-name="path_youtube_2" d="M-5544.128,16271.323l-48.715,211.747-128.241-47.461-247.933-189.841V15229.026h218.865l111.143-82.143,78.654,31.032,61.556,122.3h1222.566l104.3-116.825,85.494,23.73s64.976,355.95,61.556,365.078-34.2,742.934-34.2,742.934l-76.945,71.19h-59.846l-32.488-83.97Z" 
          transform="translate(5969.017 -15146.884)" fill="#fff"/>
        </clipPath>
        <filter id="youtube_page_filter" x="290.749" y="217.11" width="1307.854" height="796.938" filterUnits="userSpaceOnUse">
          <feOffset dy="10" input="SourceAlpha"/>
          <feGaussianBlur stdDeviation="25" result="blur"/>
          <feFlood flood-opacity="0.2"/>
          <feComposite operator="in" in2="blur"/>
          <feComposite in="SourceGraphic"/>
        </filter>
      </defs>
      <g id="youtube_page_1_group" data-name="youtube_page_1_group" transform="translate(16168 -8641)" clip-path="url(#clip-path-youtube)">
        <g id="youtube_page_2_group" data-name="youtube_page_2_group" transform="translate(-16232 7621)">
          <g id="youtube_page_3_group" data-name="youtube_page_3_group" transform="translate(-71.266 1019.813)" clip-path="url(#clip-path-youtube-2)">
            <image id="scroll" width="2075.556" height="1325.738" transform="translate(-13.373 -47.976)" xlink:href="/public/assets/bg-youtube.png"/>
          </g>
          <g id="Group_2216" data-name="Group 2216" transform="translate(429.749 1302.11)">
            <g transform="matrix(1, 0, 0, 1, -365.75, -272.11)" filter="url(#youtube_page_filter)">
              <foreignObject width="100%" height="100%">
                <iframe src="https://www.youtube.com/embed/iz1xMxZPy_w?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                 style="position: absolute; top: 0; left: 0; width: 1157.854px; height: 646.939px; transform: translate(365.75px, 282.11px);"></iframe>
              </foreignObject>
              
              <!-- <image id="Image_26-2" data-name="Image 26" width="1157.854" height="646.939" transform="translate(365.75 282.11)" xlink:href="Mask%20Group%2076-image2.png"/> -->
            </g>
            <!-- <g id="Group_2214" data-name="Group 2214" transform="translate(493.664 266.738)">
              <rect id="Rectangle_1174" data-name="Rectangle 1174" width="172.185" height="113.463" rx="30" transform="translate(0 0)" fill="#f22c2c"/>
              <path id="Polygon_5" data-name="Polygon 5" d="M27.868,0,55.736,48.769H0Z" transform="translate(117.444 28.863) rotate(90)" fill="#fff"/>
            </g> -->
          </g>
        </g>
      </g>
    </svg>
    
  </div>
</div>
<div class="wrap-pre-register" style="background-color: #003357;">    
    <div class="pre-register-info-wrapper">
      <div class="pre-register-text-info-wrapper " style="padding-top: 3rem;" >
        <div class="d-flex flex-column justify-content-center align-items-center  px-3  ">
          <div class="d-flex justify-content-center align-items-center">
            <img class="bumper" src="/public/assets/Bumper_Adventure_Clear ornament-1.png" alt="bumper left"/>
            <span class="title-text bolder-700 text-2xl lg:text-4xl md:text-3xl sm:text-2xl  ">
              PRE-REGISTER
            </span>
            <img class="bumper"  src="/public/assets/Bumper_Adventure_Clear ornament.png" alt="bumper right"/>
          </div>
          <img style="padding-top: 2rem;" src="/public/assets/line.png" />
          <span class=" text-white desc-text font-medium " style="padding-top: 1rem;">
            You can get special rewards only from pre-registration!<br/> Let’s
            reach for the Pre-Registration Milestone targets to get even
            greater rewards!
          </span>
          <p class="bolder-800 desc-text text-white" style="margin-top: 0.5rem;">Worth of <span class="prize_text">USD 250 </span>for each User!</p>
        </div>
      </div>
    
        <!-- {/* desktop */} -->
      <div class="reward-wrapper-desktop mx-3 my-5">
        <div class="wrap-col-count-register justify-content-center align-items-center  ">
          <div
              class=" grid justify-content-center align-items-center align-items-center"
            >
              <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                15.000
              </h1>
              <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;"">
                PRE-REGISTER
              </span>
          </div>
          <div
              class="grid justify-content-center align-items-center align-items-center">
              <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-4xl">
                30.000
              </h1>
              <span class="text-center text-active-link" style="font-size: 1.25rem; line-height: 1.75rem;">
                PRE-REGISTER
              </span>
          </div>
          <div
              class="grid justify-content-center align-items-center align-items-center"
            >
              <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                50.000
              </h1>
              <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;">
                PRE-REGISTER
              </span>
          </div>
          <div
              class="grid justify-content-center align-items-center align-items-center"
            >
              <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                70.000
              </h1>
              <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;">
                PRE-REGISTER
              </span>
          </div>
          <div
              class="grid justify-content-center align-items-center align-items-center"
            >
              <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                100.000
              </h1>
              <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;">
                PRE-REGISTER
              </span>
          </div>

        </div>
  
        <div class="pre-progress-wrapper">
          <div class="progress-bar">
            <div class="inner" style="width: <%=widthPrecentage%>;"></div>
          </div>
          <ul class="progress-milepost d-flex">
            <li class="flex-1 d-flex align-items-center justify-content-center active">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                  <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                    <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha1===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                      <rect width="41" height="41" stroke="none"/>
                      <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                    </g>
                    <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                  </g>
                </svg>
                
                
              </span>
            </li>
            <li class="flex-1 d-flex align-items-center justify-content-center active">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                  <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                    <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha2===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                      <rect width="41" height="41" stroke="none"/>
                      <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                    </g>
                    <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                  </g>
                </svg>
              
              </span>
            </li>
            <li class="flex-1 d-flex align-items-center justify-content-center active">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                  <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                    <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha3===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                      <rect width="41" height="41" stroke="none"/>
                      <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                    </g>
                    <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                  </g>
                </svg>
              
              </span>
            </li>
            <li class="flex-1 d-flex align-items-center justify-content-center active">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                  <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                    <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha4===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                      <rect width="41" height="41" stroke="none"/>
                      <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                    </g>
                    <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                  </g>
                </svg>
              </span>
            </li>
            <li class="flex-1 d-flex align-items-center justify-content-center active">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                  <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                    <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha5===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                      <rect width="41" height="41" stroke="none"/>
                      <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                    </g>
                    <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                  </g>
                </svg>
              </span>
            </li>
          </ul>
        </div>
  
        <div class="grid wrap-col-count-register justify-content-center align-items-center ">
            <div
              class="grid  align-items-center align-items-center"
            >
            <img style="display: <%= gacha1 ? 'block' : 'none' %>"   src="/public/assets/drop-1.png" alt="" />
            <img style="display: <%= gacha1 ? 'none' : 'block' %>" src="/public/assets/drop-1-no.png" alt="" />
              
            </div>
            <div
              class="grid  align-items-center align-items-center"
            >
            <img style="display: <%= gacha2 ? 'block' : 'none' %>"   src="/public/assets/drop-2.png" alt="" />
            <img style="display: <%= gacha2 ? 'none' : 'block' %>" src="/public/assets/drop-2-no.png" alt="" />
              
            </div>
            <div
              class="grid  align-items-center align-items-center" 
            >
              <img style="display: <%= gacha3 ? 'block' : 'none' %>"   src="/public/assets/drop-3.png" alt="" />
              <img style="display: <%= gacha3 ? 'none' : 'block' %>" src="/public/assets/drop-3-no.png" alt="" />
              
            </div>
            <div
              class="grid  align-items-center align-items-center"
            >
            <img style="display: <%= gacha4 ? 'block' : 'none' %>"   src="/public/assets/drop-4.png" alt="" />
            <img style="display: <%= gacha4 ? 'none' : 'block' %>" src="/public/assets/drop-4-no.png" alt="" />
              
            </div>
            <div
              class="grid  align-items-center align-items-center"
            >
            <img style="display: <%= gacha5 ? 'block' : 'none' %>"   src="/public/assets/drop-5.png" alt="" />
            <img style="display: <%= gacha5 ? 'none' : 'block' %>" src="/public/assets/drop-5-no.png" alt="" />
              
            </div>
        </div>
  
        <div class="grid wrap-col-count-register justify-content-center gap-4 " style="font-family: 'Lato', sans-serif;">
            <div class="grid " >
              <span class="text-center text-white text-sm">
                - <strong>1.000.000</strong> Zenny<br/>
                -  <strong>15</strong> Jade Lost Time Idol
              </span>
            </div>
            <div class="grid " >
              <span class="text-center text-white text-sm">
                - <strong>50</strong> Carillons<br/>
                - <strong>3</strong> Divine Keys
              </span>
            </div>
            <div class="grid " >
              <span class="text-center text-white text-sm">
                - <strong>150</strong> Carillons<br/>
                - Royal Secret Service Costume
              </span>
            </div>
            <div class="grid " >
              <span class="text-center text-white text-sm">
                - <strong>300</strong> Carillons<br/>
                - Exclusive Weapon:<br/>
                <strong>Kalarau</strong>
              </span>
            </div>
            <div class="grid " >
              <span class="text-center text-white text-sm">
                - <strong>500</strong> Carillons<br/>
                -  Exclusive Character:<br/>
                non-tradable  
                <strong>Gashani</strong>
              </span>
            </div>
            
        </div>
      </div>
  
      <!-- {/* mobile */} -->
      <div class="reward-wrapper-mobile">
        <div class="wrap-col-register ">
          <div class="grid  justify-content-center align-items-center" style="gap: 1rem;">

              <div 
                class="title-prize grid justify-align-items-center align-items-center">
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  15.000
                </h1>
                <span class="text-center text-active-link">
                  PRE-REGISTER
                </span>
              </div>

              <div
                class="title-prize grid justify-align-items-center align-items-center">
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  30.000
                </h1>
                <span class="text-center text-active-link">
                  PRE-REGISTER
                </span>
              </div>

              <div
                class="title-prize grid justify-align-items-center align-items-center">
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  50.000
                </h1>
                <span class="text-center text-active-link">
                  PRE-REGISTER
                </span>
              </div>

              <div
                class="title-prize grid justify-align-items-center align-items-center">
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  70.000
                </h1>
                <span class="text-center text-active-link">
                  PRE-REGISTER
                </span>
              </div>

              <div
                class="title-prize grid justify-align-items-center align-items-center">
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  100.000
                </h1>
                <span class="text-center text-active-link">
                  PRE-REGISTER
                </span>
              </div>

          </div>
          <div class="pre-progress-wrapper mob">
            <div class="progress-bar mob">
              <div class="inner" style="height: <%=heightPrecentage%>;"></div>
            </div>
            <ul class="progress-milepost d-flex flex-column">
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha1===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha2===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha3===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha4===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha5===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                </span>
              </li>
            </ul>
          </div>
  
          <div class="desc-prize grid  justify-content-center align-items-center "style="gap: 1rem;font-family: 'Lato', sans-serif;">
              <div
                class="grid justify-align-items-center align-items-center">
                <img class="w-1/2 h-auto" style="display: <%= gacha1 ? 'none' : 'block' %>"   src="/public/assets/drop-1-no.png" alt="" />
                <img class="w-1/2 h-auto" style="display: <%= gacha1 ? 'block' : 'none' %>" src="/public/assets/drop-1.png" alt="" />
                <span class="text-center text-white text-xs">
                  - <strong>1.000.000</strong> Zenny<br/>
                  -  <strong>15</strong> Jade Lost Time Idol
                </span>
              </div>
              <div
                class="desc-prize grid justify-align-items-center align-items-center">
                <img class="w-1/2 h-auto" style="display: <%= gacha2 ? 'none' : 'block' %>"   src="/public/assets/drop-2-no.png" alt="" />
                <img class="w-1/2 h-auto" style="display: <%= gacha2 ? 'block' : 'none' %>" src="/public/assets/drop-2.png" alt="" />
                <span class="text-center text-white text-xs ">
                  - <strong>50</strong> Carillons<br/>
                  - <strong>3</strong> Divine Keys
                </span>
              </div>
              <div
                class="desc-prize grid justify-align-items-center align-items-center">
                <img class="w-1/2 h-auto" style="display: <%= gacha3 ? 'none' : 'block' %>"   src="/public/assets/drop-3-no.png" alt="" />
                <img class="w-1/2 h-auto" style="display: <%= gacha3 ? 'block' : 'none' %>" src="/public/assets/drop-3.png" alt="" />
                <span class="text-center text-white text-xs">
                    - <strong>150</strong> Carillons<br/>
                    - Royal Secret Service Costume
                </span>
              </div>
              <div
                class="desc-prize grid justify-align-items-center align-items-center">
                <img class="w-1/2 h-auto" style="display: <%= gacha4 ? 'none' : 'block' %>"   src="/public/assets/drop-4-no.png" alt="" />
                <img class="w-1/2 h-auto" style="display: <%= gacha4 ? 'block' : 'none' %>" src="/public/assets/drop-4.png" alt="" />
                <span class="text-center text-white text-xs">
                  - <strong>300</strong> Carillons<br/>
                  - Exclusive Weapon:<br/>
                    <strong>Kalarau</strong>
                </span>
              </div>
              <div
                class="desc-prize grid justify-align-items-center align-items-center">
                <!-- <div style="background: url(/public/assets/Group\ 2195.png); background-repeat: no-repeat; background-position: bottom; background-size: auto 90% ;"> -->
                  <img class="w-1/2 h-auto" style="display: <%= gacha5 ? 'none' : 'block' %>"   src="/public/assets/drop-5-no.png" alt="" />
                <img class="w-1/2 h-auto" style="display: <%= gacha5 ? 'block' : 'none' %>" src="/public/assets/drop-5.png" alt="" />
                  <!-- </div> -->
                <span class="text-center text-white text-xs">
                  - <strong>500</strong> Carillons<br/>
                  -  Exclusive Character:<br/>
                  non-tradable  
                  <strong>Gashani</strong>
                </span>
              </div>
          </div>
        </div>
      </div>
    
      <div class="total-user d-flex flex-column justify-content-center align-items-center px-12 " style="padding-top: 2rem;padding-bottom: 2rem;">
        <div class="total-user-border ">
          <p class="px-8 sm:px-12" style="padding-left: 3rem; padding-right: 3rem; ">
            <span class="bolder-700 text-active-link text-lg sm:text-3xl">
              <%=totalRegister%>
            </span>
            <span class="text-white text-lg sm:text-2xl">
              PLAYERS
            </span>
          </p>
        </div>
        <div class="py-3 px-3 text-white text-center">
          Number of Player who have PRE-REGISTERED
        </div>
      </div>


      <div class="d-flex justify-content-center align-items-center" style="padding-left: 1.5rem;padding-right:1.5rem; ">
        <img class="mamon_img" src="/public/assets/VN_Mamon 1.png" />
        <div class="termcondi-wrapper">
          <span>Terms & Conditions:</span>
          <ol style="padding-inline-start: 1.165rem;">   
            <li>Pre-Register Rewards depend on the number of entries received during the period of the event</li>
            <li>Event Period: September 20th, 2022 at 1 pm UTC until October 25th, 2022 at 1 pm UTC</li>
            <li>Winners are required to enter Evermore Knights' Early Access to claim the rewards. Claiming period will end 7 days after Early Access started</li>
            <li style="margin-top: 2rem; list-style-type: none;">
              <span  style="font-style: italic;">*Early Access TBA</span>
            </li>
          </ol> 
        </div>
      </div>
    </div>

    

    <div class="rewards-wrapper">
      <div class="rewards-wrapper-2">
        <div class="d-flex justify-content-center align-items-center" style="padding-top: 3rem;">
          <img class="bumper" src="/public/assets/Bumper_Adventure_Clear ornament-1.png" alt="bumper left"/>
          <span class="title-text bolder-700 text-2xl lg:text-4xl md:text-3xl sm:text-2xl  ">
            REWARDS
          </span>
          <img class="bumper"  src="/public/assets/Bumper_Adventure_Clear ornament.png" alt="bumper right"/>
        </div>
  
        <div class="d-flex justify-content-center align-items-center" style="padding-left: 1rem; padding-right: 1rem; position: relative;">
          <div class="desktop-view2 btn-desktop-swiper" style="width: 28%; position: relative; z-index: 2 ;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 547.951 901">
              <defs>
                <pattern id="pattern-rewards" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 869 871">
                  <image width="869" height="871" xlink:href="/public/assets/selected_rounded.png"/>
                </pattern>
                <pattern id="pattern-rewards-2" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 1000 1000">
                  <image width="900" height="900" xlink:href="/public/assets/zenny_btn.png"/>
                </pattern>
                <pattern id="pattern-rewards-4" width="1" height="1" patternTransform="matrix(-1, 0, 0, 1, 256.365, 0)" viewBox="5.264 0 132.654 143.183">
                  <image preserveAspectRatio="xMidYMid slice" width="143.183" height="143.183" xlink:href="/public/assets/key_btn.png"/>
                </pattern>
                <pattern id="pattern-rewards-6" width="1" height="1" patternTransform="matrix(-1, 0, 0, 1, 246.459, 0)" viewBox="0 0 123.23 110.131">
                  <image preserveAspectRatio="none" width="113.23" height="100.131" xlink:href="/public/assets/carillon_btn.png"/>
                </pattern>
                <filter id="ic_carillon" x="296.271" y="170.435" width="156.229" height="143.132" filterUnits="userSpaceOnUse">
                  <feOffset input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="5.5" result="blur"/>
                  <feFlood flood-color="#fff" flood-opacity="0.6"/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="FD_02" x="288" y="401.728" width="164" height="164" filterUnits="userSpaceOnUse">
                  <feOffset input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="3" result="blur-2"/>
                  <feFlood flood-color="#fff"/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <clipPath id="clip-path-rewards">
                  <path id="Path_3122" data-name="Path 3122" d="M251.483,166.784c10.975-21.975,11.724-29.586,11.724-50.888S260.6,80.856,247.448,57.316,210.387,13.79,210.387,13.79L182.916,0,121.9,21.213l-2.751-7.423-96.6,42.842L0,89.607l59.472,130.8,45.535-23.929S55.534,207.14,99.484,226.2s73.044,4.447,73.044,4.447L220.9,203.274S240.508,188.759,251.483,166.784Z" transform="translate(1650.218 1470.416) rotate(90)" fill="#fff" stroke="#707070" stroke-width="1"/>
                </clipPath>
                <pattern id="pattern-rewards-9" width="1" height="1" patternTransform="matrix(-1, 0, 0, 1, 1184.104, 0)" viewBox="29.56 21.626 490.313 437.882">
                  <image preserveAspectRatio="none" width="592.052" height="566.028" xlink:href="/public/assets/gashani_btn.png"/>
                </pattern>
                <pattern id="pattern-rewards-11" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 236 484">
                  <image width="236" height="484" xlink:href="/public/assets/weapon_btn.png"/>
                </pattern>
                <filter id="weapon_gashani" x="284.049" y="535.501" width="333.902" height="411.162" filterUnits="userSpaceOnUse">
                  <feOffset input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur-3"/>
                  <feFlood flood-color="red" flood-opacity="0.6"/>
                  <feComposite operator="in" in2="blur-3"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <image id="image-rewards" width="270" height="271" xlink:href="/public/assets/selected_rounded.png"/>
              </defs>
              <g id="Group_2258" data-name="Group 2258" transform="translate(8675 -11002)">
                <g class="btn-swiper-rewards-nav selected" onclick="selectedNav('zenny',0)" id="zenny" data-name="Group 2242">
                  <g id="Group_2241" data-name="Group 2241" transform="translate(35 83)">
                    <g id="Group_2239" data-name="Group 2239">
                      <g id="Group_2238" data-name="Group 2238" transform="translate(-37.09 -108.053)">
                        <ellipse id="Ellipse_71" data-name="Ellipse 71" cx="85.601" cy="85.601" rx="85.601" ry="85.601" transform="translate(-8613.91 11241.654) rotate(-90)" fill="#22242c" stroke="#707070" stroke-width="4"/>
                      </g>
                      <rect id="profile_frame_border_only" data-name="profile frame_border only" width="216" height="218" transform="translate(-8673 10939)" fill="url(#pattern-rewards)" display="block"/>
                    </g>
                    <rect id="coin" width="171" height="170" transform="translate(-8642.5 10975)" fill="url(#pattern-rewards-2)"/>
                  </g>
                </g>
                <g class="btn-swiper-rewards-nav" onclick="selectedNav('divine_key',3)" id="divine_key" data-name="Group 2250">
                  <g id="Group_2246" data-name="Group 2246" transform="translate(35 285)">
                    <g id="Group_2238-2" data-name="Group 2238" transform="translate(-37.09 -108.053)">
                      <ellipse id="Ellipse_71-2" data-name="Ellipse 71" cx="85.601" cy="85.601" rx="85.601" ry="85.601" transform="translate(-8613.91 11241.654) rotate(-90)" fill="#22242c" stroke="#707070" stroke-width="4"/>
                    </g>
                    <rect id="profile_frame_border_only-2" data-name="profile frame_border only" width="216" height="218" transform="translate(-8673 10939)" fill="url(#pattern-rewards)" display="none"/>
                  </g>
                  <g id="Group_2233" data-name="Group 2233" transform="translate(-8795 6355)">
                    <rect id="Rectangle_14" data-name="Rectangle 14" width="132.654" height="133.183" transform="translate(199.288 4908.197)" fill="url(#pattern-rewards-4)"/>
                  </g>
                </g>
                <g class="btn-swiper-rewards-nav" onclick="selectedNav('carillon',1)" id="carillon" data-name="Group 2249">
                  <g id="Group_2240" data-name="Group 2240" transform="translate(227 206)">
                    <g id="Group_2238-3" data-name="Group 2238" transform="translate(-37.09 -108.053)">
                      <ellipse id="Ellipse_71-3" data-name="Ellipse 71" cx="85.601" cy="85.601" rx="85.601" ry="85.601" transform="translate(-8613.91 11241.654) rotate(-90)" fill="#22242c" stroke="#707070" stroke-width="4"/>
                    </g>
                    <rect id="profile_frame_border_only-3" data-name="profile frame_border only" width="216" height="218" transform="translate(-8673 10939)" fill="url(#pattern-rewards)" display="none"/>
                  </g>
                  <g id="Group_2232" data-name="Group 2232" transform="translate(-8810 6380)">
                    <g transform="matrix(1, 0, 0, 1, 115, 4622)" filter="url(#ic_carillon)">
                      <rect id="ic_carillon-2" data-name="ic_carillon" width="123.23" height="110.131" transform="translate(294.77 199.93)" fill="url(#pattern-rewards-6)"/>
                    </g>
                  </g>
                </g>
                <g class="btn-swiper-rewards-nav" onclick="selectedNav('jade',2)" id="jade" data-name="Group 2248">
                  <g id="Group_2245" data-name="Group 2245" transform="translate(253 404)">
                    <g id="Group_2238-4" data-name="Group 2238" transform="translate(-37.09 -108.053)">
                      <ellipse id="Ellipse_71-4" data-name="Ellipse 71" cx="85.601" cy="85.601" rx="85.601" ry="85.601" transform="translate(-8613.91 11241.654) rotate(-90)" fill="#22242c" stroke="#707070" stroke-width="4"/>
                    </g>
                    <rect id="profile_frame_border_only-4" data-name="profile frame_border only" width="216" height="218" transform="translate(-8673 10939)" fill="url(#pattern-rewards)" display="none"/>
                  </g>
                  <g id="Group_2234" data-name="Group 2234" transform="translate(-8789.632 6380.183)">
                    <g transform="matrix(1, 0, 0, 1, 104.63, 4589.82)" filter="url(#FD_02)">
                      <image id="FD_02-2" data-name="FD_02" width="146" height="146" transform="translate(297 410.73)" xlink:href="/public/assets/jade_btn.png"/>
                    </g>
                  </g>
                </g>
                <g class="btn-swiper-rewards-nav" onclick="selectedNav('costume',5)" id="costume" data-name="Group 2251">
                  <g id="Group_2243" data-name="Group 2243" transform="translate(35 481)">
                    <g id="Group_2238-5" data-name="Group 2238" transform="translate(-37.09 -108.053)">
                      <ellipse id="Ellipse_71-5" data-name="Ellipse 71" cx="85.601" cy="85.601" rx="85.601" ry="85.601" transform="translate(-8613.91 11241.654) rotate(-90)" fill="#22242c" stroke="#707070" stroke-width="4"/>
                    </g>
                    <rect id="profile_frame_border_only-5" data-name="profile frame_border only" width="216" height="218" transform="translate(-8673 10939)" fill="url(#pattern-rewards)" display="none"/>
                  </g>
                  <image id="IC_COSTUME_001_resize" width="164.98" height="164.98" transform="translate(-8613.49 11443.51)" xlink:href="/public/assets/costume_btn.png"/>
                </g>
                <g class="btn-swiper-rewards-nav" onclick="selectedNav('gashani',6)" id="gashani" data-name="Group 2254">
                  <g id="Group_2252" data-name="Group 2252" transform="translate(114 1375)">
                    <ellipse id="Ellipse_72" data-name="Ellipse 72" cx="107.475" cy="107.475" rx="107.475" ry="107.475" transform="translate(-8731.024 10499.557) rotate(-90)" fill="#22242c" stroke="#707070" stroke-width="4"/>
                    <use id="profile_frame_border_only-6" data-name="profile frame_border only" transform="translate(-8759 10257)" xlink:href="#image-rewards" style="display: none;"/>
                    <!-- <use id="profile_frame_border_only-7" data-name="profile frame_border only" transform="translate(-8769 10227)" xlink:href="#image-rewards"/> -->
                  </g>
                  <g id="Mask_Group_77" data-name="Mask Group 77" transform="translate(-10045.218 10138.283)" clip-path="url(#clip-path-rewards)">
                    <rect id="Gashani" width="592.052" height="566.028" transform="translate(1277.606 1433.136)" fill="url(#pattern-rewards-9)"/>
                  </g>
                </g>
                <g class="btn-swiper-rewards-nav" onclick="selectedNav('weapon_gashani',4)" id="weapon_gashani" data-name="Group 2257">
                  <g id="Group_2256" data-name="Group 2256" transform="translate(1000 -215)">
                    <ellipse id="Ellipse_72-2" data-name="Ellipse 72" cx="94.475" cy="94.475" rx="94.475" ry="94.475" transform="translate(-9372.475 11981.975) rotate(-90)" fill="#22242c" stroke="#707070" stroke-width="4"/>
                    <rect id="profile_frame_border_only-7" data-name="profile frame_border only" width="255" height="256" transform="translate(-9410 11764)" fill="url(#pattern-rewards)" style="display: none;"/>
                  </g>
                  <g transform="matrix(1, 0, 0, 1, -8675, 11002)" filter="url(#weapon_gashani)">
                    <rect id="weapon_gashani-2" data-name="weapon_gashani" width="105.393" height="368.155" transform="matrix(0.84, 0.54, -0.54, 0.84, 457.06, 508)" fill="url(#pattern-rewards-11)"/>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          
          <div class="wrap-swiper-content">
            <div class="swiper rewards">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="position: relative;" class="swiper-slide-content excluded">
                      <img src="/public/assets/1.png"/>
                      <!-- <div class="title-desc-reward-wrapper">
                        <span class="prize_text bolder-800">Zenny</span>
                        <img src="/public/assets/line.png"/>
                        <p >The currency in Evermore Knights. It is acquired throughout the game and used for making various purchases.</p>
                      </div> -->
                    </div>
                    
                  
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="position: relative;" class="swiper-slide-content excluded">
                      <img src="/public/assets/2.png"/>
                      <!-- <div class="title-desc-reward-wrapper">
                        <span class="prize_text bolder-800">Carillon</span>
                      <img src="/public/assets/line.png"/>
                      <p >
                        An item that is used to summon (gacha) characters and weapons in Evermore Knights
                      </p>
                      </div> -->
                    </div>
                    
                    
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="position: relative;" class="swiper-slide-content excluded">
                      <img src="/public/assets/3.png"/>
                      <!-- <div class="title-desc-reward-wrapper">
                        <span class="prize_text bolder-800">Jade Lost Time Idol
                        </span>
                        <img src="/public/assets/line.png"/>
                        <p>
                          A special item that increases a character's overall EXP when used.
                        </p>
                      </div> -->
                    </div>
                    
                    
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="position: relative;"class="swiper-slide-content excluded">
                      <img src="/public/assets/4.png"/>
                      <!-- <div class="title-desc-reward-wrapper">
                        <span class="prize_text bolder-800">Divine Key</span>
                        <img src="/public/assets/line.png"/>
                        <p>
                          An item that allows players to access challenging dungeons in Evermore Knights
                        </p>
                      </div> -->
                    </div>
                    
                    
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="position: relative;"class="swiper-slide-content excluded1">
                      <img src="/public/assets/5.png"/>
                      <!-- <div class="title-desc-reward-wrapper">
                        <span class="prize_text bolder-800">Kalarau</span>
                        <img src="/public/assets/line.png"/>
                        <p>
                          Gashani's signature staff! A powerful weapon used in unleashing devastating pyro attacks. It also comes with a card slot that allows players to equip a skill card, further strengthening the weapon.
                        </p>
                      </div> -->
                    </div>
                    
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="position: relative;"class="swiper-slide-content">
                      <img src="/public/assets/6.png" class="desktop-view2"/>
                      <img src="/public/assets/costume_royale.png" class="mobile-view2"/>
                      <!-- <div class="title-desc-reward-wrapper">
                        <span class="prize_text bolder-800">Royal Secret Service Costume</span>
                        <img src="/public/assets/line.png"/>
                        <p>
                          A cosmetic outfit enhances a character’s attributes and gives them an exclusive look!
                        </p>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="position: relative;"class="swiper-slide-content ">
                      <!-- <div style="position: relative; z-index: -1;"> -->
                        <img src="/public/assets/7.png"/>
                      <!-- </div> -->
                      <!-- <div class="title-desc-reward-wrapper" style="z-index: 3;">
                        <span class="prize_text bolder-800">Gashani</span>
                        <img src="/public/assets/line.png"/>
                        <p>Exclusively made characters for Evermore Knights Pre-registration event are limited to a certain amount and period. 
                        </p>
                      </div> -->
                    </div>
                    
                    
                  </div>
                </div>
              </div>
              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev swiper-button-prize">
                <img src="/public/assets/arrow_left.png"/>
              </div>
              <div class="swiper-button-next swiper-button-prize">
                <img src="/public/assets/arrow_right.png"/>
              </div>
            </div>
            <div class="title-desc-reward-wrapper" style="z-index: 3;">
              <span id="prize_title" class="prize_text bolder-800">Zenny</span>
              <img src="/public/assets/line.png"/>
              <p id="prize_desc" >The currency in Evermore Knights. It is acquired throughout the game and used for making various purchases.
              </p>
            </div>

            
          </div>
          <div style="position: absolute; bottom: 0; z-index: 1;">
            
            <div class="bg-down" >
            </div>
            
          </div>
          

          
          
        </div>
    

        <!-- <div style="padding-top: 4rem; padding-bottom: 4rem; background-color: black;">
          <div class="d-flex justify-content-center align-items-center">
            <span class="join-now-text-bottom">JOIN NOW</span>
          </div>
          <form id="form1" class="pre-register-form"  action="#form" method="post">
            <input  name="email"
              class="p-10 md:pl-40"
              type="email"
              placeholder="Put Your E-mail Address"
              required
            />
            <button class="btn-submit-pre" type="submit">PRE-REGISTER</button>
          </form>
        </div> -->
      </div>

    </div>
    


    <!-- footer   -->
    <div class="container-fluid footer-regis" style="background: black; padding: 1.5rem; display: flex; justify-content: center; align-items: center;">
        <div class="container ">
            <div class="row">
                <div class="col-sm-6 adjust-footer-mob-size">
                    <img src="/public/assets/logo-footer.png">
                    <div style="margin-top: 2rem;">
                        <span>
                            © 2021 Creo Engine. All Rights Reserved
                        </span>
                    </div>
                </div>
         
                <div class="col-sm-6 adjust-footer-mob-size">
                    <div class="adjust-footer-text">
                        <span>
                            Any question / feedback? Please contact us:<br>contact@creoengine.com
                        </span>
                    </div>
                    <div style="float: right; margin-top: 2rem; display: flex; " >
                        <button class="btn-rounded-footer" onclick="parent.open('https://www.facebook.com/CreoEngineGlobal/')"><i class="fa-brands fa-facebook-f"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://twitter.com/creo_engine')"><i class="fa-brands fa-twitter"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://www.instagram.com/creoengine.official/')"><i class="fa-brands fa-instagram"></i></button>
                        <button class="btn-rounded-footer centering-content" onclick="parent.open('https://discord.gg/evermoreknights')"><i class="fa-brands fa-discord"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://t.me/CreoEngineChannel')"><i class="fa-solid fa-paper-plane"></i></button>
                        <button class="btn-rounded-footer"onclick="parent.open(' https://www.youtube.com/channel/UCiYbgRVmXNbX7iB9q_9sleA')"><i class="fa-brands fa-youtube"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" integrity="sha512-+i36IwpzfYLmCNRFtEnpEAie8PEyhO5GuK7W2Y0eDMVwT1pesCB86xuQlc5v1lfb69N/6hejJEW3EWeVkExTlQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.css" integrity="sha512-15OzXDrYC/wTgcjNDIx6+2LiAHCPnS9DiKQj/dhgdRMpdW+W4AoSjxism+gRaDobBaFN+UONPGic1ttu5mpWxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
  
  // var swiper_desc= new Swiper('.swiper.rewards-desc', {
  //   speed: 800,
  //   spaceBetween: 400,
  //   effect:"fade",
  //   fadeEffect: {crossFade: true},
  //   allowTouchMove: false,   
  // });;
  var swiper= new Swiper('.swiper.rewards', {
    speed: 800,
    spaceBetween: 400,
    effect:"fade",
    fadeEffect: {crossFade: true},
    allowTouchMove: false,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
      
  });;
  $(document).ready(function(){
    document.querySelector(".title-desc-reward-wrapper").classList.add("anim-slide-up")
    document.querySelector(".title-desc-reward-wrapper").style.opacity = 1;
    checkWidth();
  })
  $(window).resize(function(){
   checkWidth();
  })
  
  function checkWidth(){
    if (screen.width>=640){
      swiper.destroy(true,true)
      // swiper_desc.destroy(true,true)

      // swiper_desc= new Swiper('.swiper.rewards-desc', {
      //   speed: 800,
      //   spaceBetween: 400,
      //   effect:"fade",
      //   fadeEffect: {crossFade: true},
      //   allowTouchMove: false,   
      // });
      
      swiper = new Swiper('.swiper.rewards', {
        speed: 800,
        spaceBetween: 400,
        effect:"fade",
        fadeEffect: {crossFade: true},
        allowTouchMove: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      
      });
      
    }
    else{
      swiper.destroy(true,true)
      // swiper_desc.destroy(true,true)

      // swiper_desc= new Swiper('.swiper.rewards-desc', {
      //   speed: 800,
      //   spaceBetween: 400,
      //   effect:"fade",
      //   fadeEffect: {crossFade: true},
      //   allowTouchMove: false,   
      // });
      swiper = new Swiper('.swiper.rewards', {
        speed: 800,
        spaceBetween: 400,
        allowTouchMove: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      
      });
    }

    

    swiper.on("slideChange", function () {
      // console.log('lala'+swiper.activeIndex);
      switch (swiper.activeIndex) {
        case 0:
          document.getElementById("prize_title").innerHTML = "Zenny";
          document.getElementById("prize_desc").innerHTML =
            "The currency in Evermore Knights. It is acquired throughout the game and used for making various purchases.";
          
          break;
        case 1:
          document.getElementById("prize_title").innerHTML = "Carillon";
          document.getElementById("prize_desc").innerHTML =
            "An item that is used to summon (gacha) characters and weapons in Evermore Knights";
          break;
        case 2:
          document.getElementById("prize_title").innerHTML = "Jade Lost Time Idol";
          document.getElementById("prize_desc").innerHTML =
            "A special item that increases a character's overall EXP when used.";
          break;
        case 3:
          document.getElementById("prize_title").innerHTML = "Divine Key";
          document.getElementById("prize_desc").innerHTML =
            "An item that allows players to access challenging dungeons in Evermore Knights";
          
          break;
        case 4:
          document.getElementById("prize_title").innerHTML = "Kalarau";
          document.getElementById("prize_desc").innerHTML =
            "Gashani's signature staff! A powerful weapon used in unleashing devastating pyro attacks. It also comes with a card slot that allows players to equip a skill card, further strengthening the weapon.";
          
          break;
        case 5:
          document.getElementById("prize_title").innerHTML =
            "Royal Secret Service Costume";
          document.getElementById("prize_desc").innerHTML =
            "A cosmetic outfit enhances a character’s attributes and gives them an exclusive look!";
        
          break;
        case 6:
          document.getElementById("prize_title").innerHTML = "Gashani";
          document.getElementById("prize_desc").innerHTML =
            "Exclusively made characters for Evermore Knights Pre-registration event are limited to a certain amount and period. ";
          break;
      }
      if (swiper.activeIndex == 6) {
        document.querySelector(".rewards-wrapper-2").classList.add("selected");
      } else {
        
        document.querySelector(".rewards-wrapper-2").classList.remove("selected");
      }
    });

  }
</script>
<!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
  $('.main-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true
});
</script> -->
<script src="/public/js/postregister.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G3WSXE2TQF"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-G3WSXE2TQF');
</script>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "clenv079a0");
</script>
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1268280613947379');
  fbq('track', 'PageView');
  fbq('track', 'ViewContent');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1268280613947379&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

