<%- include ('partials/header',{title:"Evermore Knights | Pre-Registration",display:"false"}) %> 
<%- include ('partials/preregister') %> 


<div class="wrap-pre-register" style="background-color: #003357;">
    <div class="pre-register-info-wrapper">
        <div class="pre-register-text-info-wrapper" >
          <div class="d-flex flex-column justify-content-center align-items-center  px-3  ">
            <h1 class="title-text bolder-700 text-2xl lg:text-4xl md:text-3xl sm:text-2xl  ">
              PRE-REGISTER
            </h1>
            <img class="my-2" src="/public/assets/line.png" />
            <span class=" text-white desc-text font-medium  mt-2 px-4">
              You can get special rewards only from pre-registration! Let’s
              reach for the Pre-Registration Milestone targets to get even
              greater rewards!
            </span>
          </div>
        </div>
    
        <!-- {/* desktop */} -->
        <div class="reward-wrapper-desktop mx-3 my-5">
          <div class="wrap-col-count-register justify-content-center align-items-center  ">
            <div
                class="grid justify-content-center align-items-center align-items-center"
              >
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  15.000
                </h1>
                <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;"">
                  PRE-REGISTER
                </span>
            </div>
            <div
                class="grid justify-content-center align-items-center align-items-center">
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-4xl">
                  30.000
                </h1>
                <span class="text-center text-active-link" style="font-size: 1.25rem; line-height: 1.75rem;">
                  PRE-REGISTER
                </span>
            </div>
            <div
                class="grid justify-content-center align-items-center align-items-center"
              >
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  50.000
                </h1>
                <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;">
                  PRE-REGISTER
                </span>
            </div>
            <div
                class="grid justify-content-center align-items-center align-items-center"
              >
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  70.000
                </h1>
                <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;">
                  PRE-REGISTER
                </span>
            </div>
            <div
                class="grid justify-content-center align-items-center align-items-center"
              >
                <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                  100.000
                </h1>
                <span class="text-center text-active-link"  style="font-size: 1.25rem; line-height: 1.75rem;">
                  PRE-REGISTER
                </span>
            </div>

          </div>
    
          <div class="pre-progress-wrapper">
            <div class="progress-bar">
              <div class="inner" style="width: <%=widthPrecentage%>;"></div>
            </div>
            <ul class="progress-milepost d-flex">
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha1===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                  
                  
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha2===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha3===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha4===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                </span>
              </li>
              <li class="flex-1 d-flex align-items-center justify-content-center active">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                    <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                      <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha5===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                        <rect width="41" height="41" stroke="none"/>
                        <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                      </g>
                      <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    </g>
                  </svg>
                </span>
              </li>
            </ul>
          </div>
    
          <div class="grid wrap-col-count-register justify-content-center align-items-center ">
              <div
                class="grid  align-items-center align-items-center"
              >
                <img src="/public/assets/drop-1.png" alt="" />
                
              </div>
              <div
                class="grid  align-items-center align-items-center"
              >
                <img src="/public/assets/drop-2.png" alt="" />
                
              </div>
              <div
                class="grid  align-items-center align-items-center"
              >
                <img src="/public/assets/drop-3.png" alt="" />
                
              </div>
              <div
                class="grid  align-items-center align-items-center"
              >
                <img src="/public/assets/drop-4.png" alt="" />
                
              </div>
              <div
                class="grid  align-items-center align-items-center"
              >
                <!-- <div style="background: url(/public/assets/Group\ 2195.png); background-repeat: no-repeat; background-position: bottom; background-size: auto 90% ;"> -->
                    <img src="/public/assets/drop-5.png" alt="" />
                <!-- </div> -->
                
              </div>
          </div>
    
          <div class="grid wrap-col-count-register justify-content-center gap-4 ">
              <div class="grid " >
                <span class="text-center text-white text-sm">
                  - <strong>1.000.000</strong> Zenny<br/>
                  -  <strong>15</strong> Jade Lost Time Idol
                </span>
              </div>
              <div class="grid " >
                <span class="text-center text-white text-sm">
                  - <strong>50</strong> Carillons<br/>
                  - <strong>3</strong> Divine Keys
                </span>
              </div>
              <div class="grid " >
                <span class="text-center text-white text-sm">
                  - <strong>150</strong> Carillons<br/>
                  - Royal Secret Service Costume
                </span>
              </div>
              <div class="grid " >
                <span class="text-center text-white text-sm">
                  - <strong>300</strong> Carillons<br/>
                  - Exclusive Weapon:<br/>
                  <strong>Kalarau</strong>
                </span>
              </div>
              <div class="grid " >
                <span class="text-center text-white text-sm">
                  - <strong>500</strong> Carillons<br/>
                  -  Exclusive Character:<br/>
                  non-tradable  
                  <strong>Gashani</strong>
                </span>
              </div>
              
          </div>
        </div>
    
        <!-- {/* mobile */} -->
        <div class="reward-wrapper-mobile">
          <div class="wrap-col-register ">
            <div class="grid  justify-content-center align-items-center" style="gap: 1rem;">

                <div
                  class="grid justify-align-items-center align-items-center">
                  <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                    15.000
                  </h1>
                  <span class="text-center text-active-link">
                    PRE-REGISTER
                  </span>
                </div>

                <div
                  class="grid justify-align-items-center align-items-center">
                  <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                    30.000
                  </h1>
                  <span class="text-center text-active-link">
                    PRE-REGISTER
                  </span>
                </div>

                <div
                  class="grid justify-align-items-center align-items-center">
                  <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                    50.000
                  </h1>
                  <span class="text-center text-active-link">
                    PRE-REGISTER
                  </span>
                </div>

                <div
                  class="grid justify-align-items-center align-items-center">
                  <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                    70.000
                  </h1>
                  <span class="text-center text-active-link">
                    PRE-REGISTER
                  </span>
                </div>

                <div
                  class="grid justify-align-items-center align-items-center">
                  <h1 class="bolder-700 text-active-link text-xl sm:text-2xl md:text-3xl">
                    100.000
                  </h1>
                  <span class="text-center text-active-link">
                    PRE-REGISTER
                  </span>
                </div>

            </div>
            <div class="pre-progress-wrapper mob">
              <div class="progress-bar mob">
                <div class="inner" style="height: <%=heightPrecentage%>;"></div>
              </div>
              <ul class="progress-milepost d-flex flex-column">
                <li class="flex-1 d-flex align-items-center justify-content-center active">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                      <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                        <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha1===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                          <rect width="41" height="41" stroke="none"/>
                          <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                        </g>
                        <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                      </g>
                    </svg>
                  </span>
                </li>
                <li class="flex-1 d-flex align-items-center justify-content-center active">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                      <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                        <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha2===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                          <rect width="41" height="41" stroke="none"/>
                          <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                        </g>
                        <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                      </g>
                    </svg>
                  </span>
                </li>
                <li class="flex-1 d-flex align-items-center justify-content-center active">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                      <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                        <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha3===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                          <rect width="41" height="41" stroke="none"/>
                          <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                        </g>
                        <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                      </g>
                    </svg>
                  </span>
                </li>
                <li class="flex-1 d-flex align-items-center justify-content-center active">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                      <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                        <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha4===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                          <rect width="41" height="41" stroke="none"/>
                          <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                        </g>
                        <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                      </g>
                    </svg>
                  </span>
                </li>
                <li class="flex-1 d-flex align-items-center justify-content-center active">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.983"  viewBox="0 0 57.983 57.982">
                      <g id="Group_2185" data-name="Group 2185" transform="translate(-2123 -14896.982)">
                        <g id="Rectangle_1173" data-name="Rectangle 1173" transform="translate(2151.991 14954.965) rotate(-135)" fill=<%=gacha5===true?'#6AA62D':'#D9D9D9'%>  stroke="#707070" stroke-width="1">
                          <rect width="41" height="41" stroke="none"/>
                          <rect x="0.5" y="0.5" width="40" height="40" fill="none"/>
                        </g>
                        <path id="Path_3112" data-name="Path 3112" d="M367.965,14937.539l8.544,8.543,12.253-20.057" transform="matrix(1.019, 0.096, -0.105, 0.995, 3336.063, 32.251)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                      </g>
                    </svg>
                  </span>
                </li>
              </ul>
            </div>
    
            <div class="grid  justify-content-center align-items-center "style="gap: 1rem;">
                <div
                  class="grid justify-align-items-center align-items-center">
                  <img class="w-1/2 h-auto" src="/public/assets/drop-1.png" alt="" />
                  <span class="text-center text-white text-xs">
                    - <strong>1.000.000</strong> Zenny<br/>
                    -  <strong>15</strong> Jade Lost Time Idol
                  </span>
                </div>
                <div
                  class="grid justify-align-items-center align-items-center">
                  <img class="w-1/2 h-auto" src="/public/assets/drop-2.png" alt="" />
                  <span class="text-center text-white text-xs ">
                    - <strong>50</strong> Carillons<br/>
                    - <strong>3</strong> Divine Keys
                  </span>
                </div>
                <div
                  class="grid justify-align-items-center align-items-center">
                  <img class="w-1/2 h-auto" src="/public/assets/drop-3.png" alt="" />
                  <span class="text-center text-white text-xs">
                      - <strong>150</strong> Carillons<br/>
                      - Royal Secret Service Costume
                  </span>
                </div>
                <div
                  class="grid justify-align-items-center align-items-center">
                  <img class="w-1/2 h-auto" src="/public/assets/drop-4.png" alt="" />
                  <span class="text-center text-white text-xs">
                    - <strong>300</strong> Carillons<br/>
                    - Exclusive Weapon:<br/>
                      <strong>Kalarau</strong>
                  </span>
                </div>
                <div
                  class="grid justify-align-items-center align-items-center">
                  <!-- <div style="background: url(/public/assets/Group\ 2195.png); background-repeat: no-repeat; background-position: bottom; background-size: auto 90% ;"> -->
                    <img src="/public/assets/drop-5.png" alt="" />
                    <!-- </div> -->
                  <span class="text-center text-white text-xs">
                    - <strong>500</strong> Carillons<br/>
                    -  Exclusive Character:<br/>
                    non-tradable  
                    <strong>Gashani</strong>
                  </span>
                </div>
            </div>
          </div>
        </div>
    
        <div class="total-user d-flex flex-column justify-content-center align-items-center px-12 ">
          <div class="total-user-border ">
            <p class="px-8 sm:px-12" style="padding-left: 3rem; padding-right: 3rem; ">
              <span class="bolder-700 text-active-link text-lg sm:text-3xl">
                <%=totalRegister%>
              </span>
              <span class="text-white text-lg sm:text-2xl">
                USERS
              </span>
            </p>
          </div>
          <div class="py-3 px-3 text-white text-center">
            Number of Player who have PRE-REGISTERED
          </div>
        </div>
    
        <div class="w-100 wrap-form-info" >
          <div class="wrap-email-pre ">
            <div style="z-index: 10;">
              <img src="/public/assets/VN_Mamon 1.png" />
            </div>
            <form id="form" class="pre-register-form" action="#form" method="post">
              <input  name="email"
                class="p-10 md:pl-40"
                type="email"
                placeholder="Put Your E-mail Address"
                required
              />
              <button class="btn-submit-pre" type="submit">PRE-REGISTER</button>
            </form>
            <div class="termcondi-wrapper ">
              <p class=" text-white ">
                Terms & Conditions:
                <br/>1. Pre-Register Rewards depend on the number of entries received during the period of the event
                <br/>2. Event Period: September 20th, 2022 at 1 pm UTC until October 19th, 2022 at 1 pm UTC
                <br/>3. Winners are required to enter Evermore Knights' Early Access to claim the rewards. Claiming period will end 7 days after Early Access started
                <br/>*Early Access TBA
              </p>
            </div>
          </div>
        </div>
      </div>


    <!-- footer   -->
    <div class="container-fluid" style="background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(6,16,23,1) 44%, rgba(7,33,51,1) 62%, rgba(0,51,87,1) 100%); padding: 3rem; display: flex; justify-content: center; align-items: center;">
        <div class="container ">
            <div class="row">
                <div class="col-sm-6 adjust-footer-mob-size">
                    <img src="/public/assets/logo-footer.png">
                    <div style="margin-top: 2rem;">
                        <span>
                            © 2021 Creo Engine. All Rights Reserved
                        </span>
                    </div>
                </div>
         
                <div class="col-sm-6 adjust-footer-mob-size">
                    <div class="adjust-footer-text">
                        <span>
                            Any question / feedback? Please contact us:<br>contact@creoengine.com
                        </span>
                    </div>
                    <div style="float: right; margin-top: 2rem; display: flex; " >
                        <button class="btn-rounded-footer" onclick="parent.open('https://www.facebook.com/CreoEngineGlobal/')"><i class="fa-brands fa-facebook-f"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://twitter.com/creo_engine')"><i class="fa-brands fa-twitter"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://www.instagram.com/creoengine.official/')"><i class="fa-brands fa-instagram"></i></button>
                        <button class="btn-rounded-footer centering-content" onclick="parent.open('https://discord.gg/creoengine')"><i class="fa-brands fa-discord"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://t.me/CreoEngineChannel')"><i class="fa-solid fa-paper-plane"></i></button>
                        <button class="btn-rounded-footer"onclick="parent.open(' https://www.youtube.com/channel/UCiYbgRVmXNbX7iB9q_9sleA')"><i class="fa-brands fa-youtube"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/postregister.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G3WSXE2TQF"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-G3WSXE2TQF');
</script>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "clenv079a0");
</script>
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1268280613947379');
  fbq('track', 'PageView');
  fbq('track', 'ViewContent');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1268280613947379&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

