<%- include ('partials/header',{title:"Creo Engine"}) %> 
<main>
    <div class="element-wrap-background-1">
        <div class="element-wrap-background-2" >
            <div style="display: flex; flex-direction: column; position: fixed; top: 23%;  right: 7%; justify-content: end; z-index: 1; ">
                <a href="https://creoengineofficial.medium.com/" target="_blank"><i class="fa-brands fa-medium fa-icon"></i></a>
                <a href="https://t.me/CreoEngineChannel" target="_blank"><i class="fa-solid fa-paper-plane fa-icon"></i></a>
                <a href="https://discord.gg/X4zBzD92P9" target="_blank"><i class="fa-brands fa-discord fa-icon"></i></a>
                <a href="https://twitter.com/creo_engine" target="_blank"><i class="fa-brands fa-twitter fa-icon"></i></a>
            </div>
            <section class="bg-home">
                <div class="container" style="margin-top: 70px;">
                    <div class="row justify-content-center">
                        <div class="col-md-6" >
                            <div class="home-text-desc">
                                <p class='text-main' >
                                    BEST DECENTRALIZED
                                </p>
                                <p class="animate-text">
                                    <span>GAMING ECOSYSTEM PLATFORM</span>
                                    <span>MARKETPLACE FOR GAMING NFTS</span>
                                    <span>NFTS GAMING TO EARN AND TRADE</span>
                                   
                                 </p>
                            </div>
            
                            <div style="display: flex; flex-direction: row; margin-top: 10px; margin-bottom: 10px;">
                                <button class="whitepaper-btn" onclick="parent.open('https://tny.sh/CreoEngineWhitepaper')">WHITE PAPER</button>
                                <div style="display: flex; flex-direction: row;">
                                    <button class="btn-store"><img src="/public/assets/appstore.png"></button>
                                    <button class="btn-store"><img src="/public/assets/googlestore.png" ></button>
                                </div>
                            </div>
                        <div class="wrap-video-carousel"  >
                            <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
                                <div class="carousel-cell">
                                    <!-- <video width="100%"  controls autoplay muted>
                                        <source src="/public/assets/video/Evermore Knights by Creo Engine Teaser_HOR.mp4" type="video/mp4">
                                    </video> -->
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/GBZBlU7Bsyc?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <!-- <div class="carousel-cell">
                                    <video width="100%"  controls></video>
                                </div>
                                <div class="carousel-cell">
                                    <video width="100%" controls></video>
                                </div>
                                <div class="carousel-cell">
                                    <video width="100%"  controls></video>
                                </div> -->
                            </div>
                            
                        </div>
                       </div>
                       <div class="col-md-6 centering-content">
                            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                                <!-- <img class="creo-icon-home" src="/public/assets/creo-icon-home.png"> -->
                                <svg id="svg-home" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="339.22" height="478.109" viewBox="0 0 339.22 478.109">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: url(#pattern);
                                            }
                                        </style>
                                        <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 925 848">
                                            <image width="925" height="848" xlink:href="/public/assets/svg/coin-top.png"/>
                                        </pattern>
                                    </defs>
                                    <g id="coin-creo-home" data-name="coin creo home" transform="translate(-1205, -45.891)">
                                    <g  id="coin-bottom-g" transform="translate(1325.68, 287.488)">
                                        <image id="coin-bottom" data-name="coin bottom" width="218.54" height="216.512" xlink:href="/public/assets/svg/coin-bottom.png"/>
                                        <animateTransform id="anim" xlink:href="#coin-bottom" attributeName="transform" attributeType="XML"type="translate" from="-10 20" to="0 0"  dur="2s" additive="sum" begin="indefinite" />
                                        <!-- <animateTransform id="anim" xlink:href="#coin-bottom" attributeName="transform" attributeType="XML"type="translate" from="0 0" to="-10 20"  dur="2s" additive="sum" /> -->
                                    </g>
                                    <g id="coin-middle-g" transform="translate(1205, 119.909)">
                                        <image id="coin-middle" data-name="coin middle" width="127.234" height="131.671" transform="matrix(0.985, -0.174, 0.174, 0.985, 0, 23.83)" xlink:href="/public/assets/svg/coin-middle.png"/>
                                        <animateTransform id="anim2" xlink:href="#coin-middle" attributeName="transform" attributeType="XML"type="translate" from="20 10 " to="0 0" dur="2s" additive="sum" begin="indefinite" />
                                    </g>
                                    <g id="coin-top-g" transform="translate(1406.927, 55.891)">
                                        <rect id="coin-top" data-name="coin top" class="cls-1" width="88.914" height="80.762"/>
                                        <animateTransform id="anim3" xlink:href="#coin-top" attributeName="transform" attributeType="XML"type="translate" from="-10 40" to="0 0"  dur="2s" additive="sum" begin="indefinite" />
                                    </g>
                                    </g>
                                </svg>
                                
                                
                                <!-- <div style="display: flex; flex-direction: column; position: fixed; right: 7%; justify-content: end; z-index: 1; ">
                                    <a href="https://creoengineofficial.medium.com/" target="_blank"><i class="fa-brands fa-medium fa-icon"></i></a>
                                    <a href="https://t.me/CreoEngineChannel" target="_blank"><i class="fa-solid fa-paper-plane fa-icon"></i></a>
                                    <a href="https://discord.gg/X4zBzD92P9" target="_blank"><i class="fa-brands fa-discord fa-icon"></i></a>
                                    <a href="https://twitter.com/creo_engine" target="_blank"><i class="fa-brands fa-twitter fa-icon"></i></a>
                                </div> -->
                            </div>    
                       </div>
                   </div>
                </div>
                <!-- <div>
                    <div style="display: flex; flex-direction: column; position: fixed; right: 7%; top: 25%, justify-content: end; z-index: 1; ">
                        <a href="https://creoengineofficial.medium.com/" target="_blank"><i class="fa-brands fa-medium fa-icon"></i></a>
                        <a href="https://t.me/CreoEngineChannel" target="_blank"><i class="fa-solid fa-paper-plane fa-icon"></i></a>
                        <a href="https://discord.gg/X4zBzD92P9" target="_blank"><i class="fa-brands fa-discord fa-icon"></i></a>
                        <a href="https://twitter.com/creo_engine" target="_blank"><i class="fa-brands fa-twitter fa-icon"></i></a>
                    </div>
                </div> -->
            </section>
            <!-- WALLET-->    
            <section class="bg-wallet">
                <div class="container">
                    <div class="js-scroll wrap-wallet-container">
                        <div style="display: flex; flex-direction: row;" class="wrap-row-wallet">
                            <div >
                                <img src="/public/assets/wallet/binance.png" >
                            </div>
                            <div >
                                <img style="margin-top: 5px;" src="/public/assets/wallet/metamask.png" >
                            </div>
                            <div >
                                <img src="/public/assets/wallet/trustwallet.png" >
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row;" class="wrap-row-wallet">
                            <div >
                                <img src="/public/assets/wallet/CoinGecko.png" >
                            </div>
                            
                            <div >
                                <img style="margin-top: 5px;" src="/public/assets/wallet/coin_market_cap.png" >
                            </div>
                        </div>
                   </div>
                </div>
            </section>
            <!--ABOUT CREO ENGINE-->
            <section style="min-height: 50vh;">
                <div class="container-fluid" style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(84,51,255,0.8));">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="position: relative; bottom: -40px;">
                                    <img  data-inviewport="slide-up-game" src="/public/assets/game-icon.png" >
                                </div>

                            </div>
                            <div class="col-md-8" style="display: flex; justify-content: center; align-items: center;">
                                <div style="float: right; text-align: right; "> 
                                    <div >
                                        <span style="font-size: 250%; font-weight: 700;">What is CreoEngine</span>
                                    </div>
                                    <div >
                                        <p >CreoEngine is a platform to connect game developers and players around the world 
                                            under our healthy ecosystem using blockchain technology. In addition to that, CreoEngine also provides high quality 
                                            Play-to-Earn video games for players to enjoy</p>
                                    </div>
                                </div>  

                            </div>
                        </div>
                    </div>
                </div>
            
            </section>
            <!--SMART CONTRACT-->
            <section style="min-height: 60vh;">
                <div class="container-fluid" style="background-image: radial-gradient( rgba(84,51,255,0.8), rgba(255,0,0,0));   ">
                    <div class="container">
                        <div class="row">  
                            <div class="col-md-8" style="display: flex; justify-content: right; align-items: center;">
                                <div style="float: right; text-align: center; width: 80%; "> 
                                    <div >
                                        <span style="font-size: 250%; font-weight: 700;">SMART CONTRACT</span>
                                    </div>
                                    <div >
                                        <p >To ensure the safety of CreoEngine Ecosystem users, we provide transparency 
                                            in our Smart Contracts for token sale, release, vesting and liquidity.</p>
                                    </div>
                                    <div >
                                        <img src="/public/assets/certik-1.png"  >
                                    </div>
                                </div>  

                            </div>

                            <div class="col-md-4" style="display: flex; justify-content: end;">
                                <svg id="svg-about" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="253" height="300" viewBox="0 0 253 300">
                                    <defs>
                                      <pattern id="pattern-1" width="1" height="1" viewBox="0 0 158 211">
                                        <image preserveAspectRatio="xMidYMid slice" width="158" height="211.887" xlink:href="/public/assets/svg/padlock-1-2.png"/>
                                      </pattern>
                                      <pattern id="pattern-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 490 423">
                                        <image width="490" height="423" xlink:href="/public/assets/svg/padlock-1-1.png"/>
                                      </pattern>
                                    </defs>
                                    <g id="smart-contract" data-name="Group 1115" transform="translate(-1262 -856)">
                                      <rect id="PADKEY2_3x" data-name="PADKEY2@3x" width="158" height="211" transform="translate(1357 856)" fill="url(#pattern-1)"/>
                                      <animateTransform id="anim4" xlink:href="#PADKEY2_3x" attributeName="transform" attributeType="XML"type="translate" from="-10 30" to="0 0"  dur="1s" additive="sum" begin="indefinite" />
                                      <rect id="PADKEY_3x" data-name="PADKEY@3x" width="253" height="218" transform="translate(1262 938)" fill="url(#pattern-2)"/>
                                    </g>
                                </svg>

                            </div>
                        </div>
                    </div>
                </div>
            
            </section>
            
            <!--MEDIA PARTNER-->
            <section class="bg-media-partner" style="height: fit-content;">
                <div class="container-fluid title-background wrap-media-partner-container">
                    <div class="container">
                        <div >
                            <div style="text-align: center;" >
                                <span data-inviewport="fadeIn"class="font-title-size">MEDIA PARTNERS</span>
                            </div>
        
                            <div data-inviewport="fadeIn" class=" wrap-media-list">
                                <div class="centering-content" style=" margin: 13px;">
                                    <img src="/public/assets/media partner/digital-journal-logo.png" style=" width: 180px" >
                                </div>
                                <div  style="margin: 13px;">
                                    <img src="/public/assets/media partner/marketwatch.png"  >
                                </div>
                                <div class="centering-content" style="margin: 13px;">
                                    <img src="/public/assets/media partner/yahoo_finance.png" style=" width: 180px" >
                                </div>
                                <div class="centering-content" style=" margin: 13px;">
                                    <img src="/public/assets/media partner/asiaone.png" style="width: 180px" >
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <!--OUR CREOVERSES-->
            <section style="min-height: 170vh; display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                <div class="container-fluid bg-creoverse">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="position: relative; bottom: -20px;">
                                    <img  data-inviewport="slide-left" src="/public/assets/planet.png" >
                                </div>
                            </div>
                            <div class="col-md-6" style="display: inline-flex; justify-content: center; align-items: center;">
                                <div style="float: left; text-align: left; height: 200px; display: flex;  align-items: center; "> 
                                    <div style="display: block;z-index: 1; ">
                                        <div >
                                            <span style="font-size: 250%; font-weight: 700;">OUR CREOVERSE</span>
                                        </div>
                                        <div >
                                            <p >All CreoEngine games are interoperable, that gamers can enjoy with their NFTs (non-fungible tokens).</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <!-- <div class="container particle-icon">
                                <img data-inviewport="slide-up-particle" src="/public/assets/particle.png" style="float: right; ">
                            </div> -->
                            <!-- <img src="/public/assets/particle.png" style="float: right; transform: translateY(50%); position: unset;"> --> 
                        </div> 
                    </div>
                </div>
                <div class="container particle-icon">
                    <img data-inviewport="slide-up-particle" src="/public/assets/particle.png" style="float: right; ">
                </div>

                <div class="container" style="z-index: 0; margin-top: 20px;">
                    <div class="wrap-list-game-container">
                        <% for (var i = 0; i < listGame.length; i++) { %>
                            <div class="games-container">
                                <div style="display: flex; flex-direction: row;">
                                    <div style="align-items: center;display: flex;justify-content: center; width: 20%;">
                                        <div style="margin-left: 10px;">
                                            <img src="<%= listGame[i].url %>">
                                        </div>
                                    </div>
                                    <div style="display: block; width: 80%;">
                                        <div style="display: block; margin-left: 20px; ">
                                            <div>
                                                <span style="font-size: 1.4rem; font-weight: 700;"><%= listGame[i].name %></span>
                                            </div>
                                            <div>
                                                <span style="color: #B133FF; font-weight: 600;"><%= listGame[i].desc %></span>
                                            </div>
                                            <div style="display: flex; flex-direction: row;">
                                                <a href="<%= listGame[i].website%>" target="_blank"><i class="fa-solid fa-globe fa-icon-small"></i></a>
                                                <a href="<%= listGame[i].telegram%>" target="_blank"><i class="fa-solid fa-paper-plane fa-icon-small"></i></a>
                                                <a><i class="fa-brands fa-discord fa-icon-small"></i></a>
                                                <a><i class="fa-brands fa-twitter fa-icon-small"></i></a>
                                                <a><i class="fa-brands fa-instagram fa-icon-small"></i></a>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                                <div style="padding-top: 20px;">
                                    <div style="object-fit: cover; width: 100%;">
                                        <img src="<%= listGame[i].url_desc %>">
                                    </div>
                                </div>
                            </div>
                        <% } %>        
                        
                    </div>
                </div>
            </section>

            <!--TOKEN SALE-->
            <section style="min-height: 100vh; display: flex; justify-content: center; align-items: center;" id="sale">
                <div class="container-fluid">
                    <div class="container">
                        <div class="title-background" style="height: 10vh; display: flex; justify-content: center; align-items: center;">
                            <span class="font-title-size">TOKEN SALE</span>
                        </div>

                        <div class="wrap-seed-sale-container  ">
                            <div data-inviewport="scale-in"  style="margin: auto;">
                                <div style="display: flex; justify-content: center; transform: translateY(60%)">
                                    <span class="font-title-size">IDO SALE</span>
                                </div>

                                <div class="sale-container">
                                    <div style="transform: translateY(10%); display: flex;justify-content: center;">
                                        <img src="/public/assets/creo-icon-token.png" >
                                    </div>

                                    <div style="z-index: 0;">
             
                                        <div class="sale-price-container">
                                            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                                <span style="width: 85%;">
                                                    Token Price $0.05
                                                </span>
                                            </div>

                                            <div style="width: 50%; display: flex; justify-content: center;">
                                                <button class="button-token">LIVE SOON</button>
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <div class="bottom-token-sale-container">
                                                <div style="width: 50%; display: flex;border-right:1pt solid grey; justify-content: center; ">
                                                    <span style="color: black; font-size: 70%;">
                                                        Sale Percentage
                                                    </span>
                                                </div>
    
                                                <div style="width: 50%;     display: flex;justify-content: center;">
                                                    <div class="progress" >
                                                        <div class="progress-bar " role="progressbar" style="width: 100%; color: black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div data-inviewport="scale-in-1" style="margin: auto;  filter: blur(5px);">
                                <div style="display: flex; justify-content: center; transform: translateY(60%)">
                                    <span class="font-title-size">PRIVATE ROUND</span>
                                </div>
                                

                                <div class="sale-container" > 
                                    <div style="transform: translateY(10%); display: flex;justify-content: center;">
                                        <img src="/public/assets/creo-icon-token.png" >
                                    </div>
                            
                                    <div style="z-index: 0;">
             
                                        <div class="sale-price-container">
                                            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                                <span style="width: 85%;">
                                                    Token Price $0.025
                                                </span>
                                            </div>

                                            <div style="width: 50%; display: flex; justify-content: center;">
                                                <button class="button-token">LIVE SOON</button>
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <div class="bottom-token-sale-container">
                                                <div style="width: 50%; display: flex;border-right:1pt solid grey; justify-content: center; ">
                                                    <span style="color: black; font-size: 70%;">
                                                        Sale Percentage
                                                    </span>
                                                </div>
    
                                                <div style="width: 50%;     display: flex;justify-content: center;">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%; color: black;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-inviewport="scale-in-2" style="margin: auto; filter: blur(5px);">
                                <div style="display: flex; justify-content: center; transform: translateY(60%)">
                                    <span class="font-title-size">SEED</span>
                                </div>

                                <div class="sale-container">

                                    <div style="transform: translateY(10%); display: flex;justify-content: center;">
                                        <img src="/public/assets/creo-icon-token.png" >
                                    </div>

                                    <div style="z-index: 0;">
             
                                        <div class="sale-price-container">
                                            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                                <span style="width: 85%;">
                                                    Token Price $0.015
                                                </span>
                                            </div>

                                            <div style="width: 50%; display: flex; justify-content: center;">
                                                <button class="button-token">LIVE SOON</button>
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <div class="bottom-token-sale-container">
                                                <div style="width: 50%; display: flex;border-right:1pt solid grey; justify-content: center; ">
                                                    <span style="color: black; font-size: 70%;">
                                                        Sale Percentage
                                                    </span>
                                                </div>
    
                                                <div style="width: 50%;     display: flex;justify-content: center;">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%; color: black;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </section>

            <!--SMART CONTRACT ADDRESS-->
            <!-- <section style="min-height: 60vh; display: flex; flex-direction: column; justify-content: center;">
                <div class="container">
                    <div class="centering-content">
                        <span class="font-title2-size">CREO ENGINE CONTRACT ADDRESS</span>
                    </div>
                </div>
                <div class="container" style="margin-top: 50px;">
                    <div class="address-token-card">
                        <div class="icon-copy " data-toggle="tooltip" data-placement="bottom"  id="copy-btn" style="cursor: pointer;">
                            <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;">
                                <title>copy</title>
                                <path id="path"  fill-rule="evenodd" clip-rule="evenodd" d="M6 3C6 1.34315 7.34315 0 9 0H14C14.2652 0 14.5196 0.105357 14.7071 0.292893L21.7071 7.29289C21.8946 7.48043 22 7.73478 22 8V17C22 18.6569 20.6569 20 19 20H18V21C18 22.6569 16.6569 24 15 24H5C3.34315 24 2 22.6569 2 21V7C2 5.34315 3.34315 4 5 4H6V3ZM6 6H5C4.44772 6 4 6.44772 4 7V21C4 21.5523 4.44772 22 5 22H15C15.5523 22 16 21.5523 16 21V20H9C7.34315 20 6 18.6569 6 17V6ZM9 2C8.44772 2 8 2.44772 8 3V17C8 17.5523 8.44771 18 9 18H19C19.5523 18 20 17.5523 20 17V9H16C14.3431 9 13 7.65685 13 6V2H9ZM15 3.41421L18.5858 7H16C15.4477 7 15 6.55228 15 6V3.41421Z" fill="#293644"/>
                            </svg>
                        </div>
                        <input type="text" class="val" value="0xcCFb45B0bD3e9Fa145006c9Cf379F4b002f4daBA" readonly id="address-text">
                        <div style="position: absolute;  right: -13px; ">
                            <img src="/public/assets/verify.png">
                        </div>
                    </div>
                    <div style="margin-top: 30px;">
                        <a id="bscscan-link"  target="_blank">
                            <div style="background: white; border-radius: 15px; height: 40px; padding-left: 10px; width: 130px; display: flex; align-items: center; margin: auto;">
                                <img src="/public/assets/bscscan-logo.png" width="80%" style="margin: 3px;"/>
                            </div>
                        </a>
                    </div>
                </div>
            </section> -->

            <!--TOKENOMICS-->
            <section  id="tokenomics">
                <div class="container-fluid" >
                    <div class="container">
                        <div class="title-background" style="height: 10vh; display: flex; justify-content: center; align-items: center;">
                            <span class="font-title-size">TOKENOMICS</span>
                        </div>
                    </div>
                    <div >
                    </div>
                    <div class="container"  style="position: relative; margin-top: 30px;">
                        <img src="/public/assets/svg/chart-svg.svg">     
                        <img src="/public/assets/svg/tokenomics-coin-1.png" style="width: 7% ;position: absolute; transform: translate(-50%,-50%); top: 55%; left: 49%;" >                                   
                    </div>            
                </div>
            </section>
           
            <div style="background: url(/public/assets/GRAPHIC\ BG.png); background-size: contain; background-repeat: no-repeat; background-position: center;">         
                <!--INVESTOR-->
                <section style="height: fit-content; min-height: 100vh; display: flex; justify-content: center; align-items: center;">
                    <div class="container-fluid title-background" style="display: flex; justify-content: center; align-items: center; ">
                        <div class="container">
                            <!--OUR INVESTOR-->
                            <div style="justify-content: center;">
                                <div  style="text-align: center; padding-top: 20px;">
                                    <span data-inviewport="fadeIn" class="font-title-size">OUR INVESTORS</span>
                                </div>
                                <div class="centering-content">
                                    <div data-inviewport="fadeIn" class="wrap-partnership-2-container" >
                                       
                                        <div style="width: 100%; margin: auto;">
                                            <img src="/public/assets/investor-partnership/muse.png">
                                        </div>
                                        <div style="width: 100%; margin: auto;" >
                                            <img src="/public/assets/investor-partnership/amaland.png">
                                        </div>
                                        <div style="width: 100%; margin: auto; padding-right: 5px;" >
                                            <img src="/public/assets/investor-partnership/KOM.png">
                                        </div>
                                        <div style="width: 100%; margin: auto;" >
                                            <img src="/public/assets/investor-partnership/cuan-b-1.png" >
                                        </div>
                                        <div style="width: 70%; margin: auto;" >
                                            <img src="/public/assets/investor-partnership/TRAVELLER CAPITAL.png" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--INCUBATED BY-->
                            <div style="justify-content: center;">
                                <div  style="text-align: center; padding-top: 20px;">
                                    <span data-inviewport="fadeIn" class="font-title-size">INCUBATED BY</span>
                                </div>
                                <div class="centering-content">
                                    <div data-inviewport="fadeIn" class="wrap-partnership-3-container" >
                                        <div  style="width: 100%; margin: auto;">
                                            <img src="/public/assets/investor-partnership/SKYX.png">
                                        </div>
                                        <div  style="width: 100%; margin: auto;">
                                            <img src="/public/assets/investor-partnership/DAOStarter.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--SUPPORT AND PARTNERSHIP-->
                            <div>
                                <div  class="all-partnership-text centering-content" style="text-align: center; height: 10vh;">
                                    <span data-inviewport="fadeIn" class="font-title-size">SUPPORT & PARTNERSHIP</span>
                                </div>
                                <div data-inviewport="fadeIn" class=" wrap-partnership-container">
                                    <div style=" width: 100%; margin: auto;">
                                        <img src="/public/assets/investor-partnership/muse-1.png" >
                                    </div>
                                    <div style=" width: 100%; margin: auto;">
                                        <img src="/public/assets/investor-partnership/DAOStarter.png" >
                                    </div>
                                    <div style=" width: 100%; margin: auto; padding-left: 8px;">
                                        <img src="/public/assets/investor-partnership/nomina.png" >
                                    </div>
                                    <div style="width: 100%; margin: auto;">
                                        <img src="/public/assets/investor-partnership/s.png" >
                                    </div>
                                    <div style="width: 100%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/cuan-b-1.png" >
                                    </div>
                                    <div style="width: 100%;margin: auto; padding-left: 5px;">
                                        <img src="/public/assets/investor-partnership/KOM.png" >
                                    </div>
                                    <div style="width: 70%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/TRAVELLER CAPITAL.png">
                                    </div>
                                    <div style="width: 100%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/amaland-1.png" >
                                    </div>
                                    <div style="width: 100%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/nusa capital.png" >
                                    </div>
                                    <div style="width: 100%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/hecto.png" >
                                    </div>
                                    <div style="width: 100%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/wnhair.png" >
                                    </div>
                                    <div style="width: 100%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/maxin.png" >
                                    </div>
                                    <div style="width: 100%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/serba hydraulic.png" >
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!--TEAM-->
                <section   style="min-height: 100vh;">
                    <div class="container-fluid  ">
                        <div class="container ">
                            <div style="height: fit-content;">
                                <div style="display: flex; flex-direction: column; text-align: center; margin-bottom: 30px;">
                                    <span class="font-title-size">TEAM</span>
                                    <span style="color: white; font-size: 120%; font-weight: 500;">The CreoEngine team is a group of developers, operators, marketers, strategist and<br>designers
                                        with expertise in their respective fields.
                                    </span>
                                </div>

                                <div data-inviewport="fadeIn" class=" wrap-team-member-container">
                                    <% for (var i = 0; i < listTeam.length; i++) { %>
                                        <div class="team-member-container">
                                            <div style="     width: 60%;
                                            display: flex;
                                            justify-content: center; ">
                                                <div style="position: relative;">
                                                    <img src="<%= listTeam[i].url %>" >

                                                    <div class="social-linkedin">
                                                        <a href="<%= listTeam[i].linkedin%>" target="_blank" style="cursor: <%= listTeam[i].linkedin=='' ? 'not-allowed' : 'pointer' %>" ><img src="/public/assets/linkedin.png"></a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div style="display: block;  text-align: center;">
                                                <div>
                                                    <span  style="font-weight: 600;"><%= listTeam[i].name %></span>
                                                </div>
                                                <div>
                                                    <span class="color-default" style="font-weight: 600;"><%= listTeam[i].title %></span>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--ADVISOR-->
                <section style="min-height: 60vh; display: flex; align-items: center;">
                    <div class="container-fluid">
                        <div class="container">
                            <div>
                                <div style="display: flex; flex-direction: column; text-align: center; margin-bottom: 30px;">
                                    <span class="font-title-size">ADVISORS</span>
                                </div>

                                <div data-inviewport="fadeIn" class=" wrap-advisor-member-container">
                                    <% for (var i = 0; i < listAdvisors.length; i++) { %>
                                        <div class="team-member-container">
                                            <div style="width: 60%; display: flex; justify-content: center; ">
                                                <div style="position: relative;">
                                                    <img src="<%= listAdvisors[i].url %>">

                                                    <div class="social-linkedin">
                                                        <a href="<%= listAdvisors[i].linkedin%>" target="_blank" style="cursor: <%= listAdvisors[i].linkedin=='' ? 'not-allowed' : 'pointer' %>" ><img src="/public/assets/linkedin.png"></a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div style="display: block;  text-align: center;">
                                                <div>
                                                    <span  style="font-weight: 600;"><%= listAdvisors[i].name %></span>
                                                </div>
                                                <div>
                                                    <span class="color-default" style="font-weight: 600;"><%= listAdvisors[i].title %></span>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--ROADMAP-->
                <section style="min-height: 100vh; display: flex; justify-content: center; align-items: center;" id="roadmap">
                    <div class="container-fluid">
                        <div class="container">
                            <div class="title-background" style="height: 10vh; display: flex; justify-content: center; align-items: center;">
                                <span class="font-title-size">ROADMAP</span>
                            </div>

                            <div style="margin-top: 50px;" class="carousel-roadmap" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }' tabindex="5">

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">Q1.2022</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>1st game alpha testing</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>IDO SALE in multiple launchpad</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>First Exchanger Listing</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>NFT DEVELOPMENT</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(40%, -10%); ">
                                            <img src="/public/assets/puzzle-dynamic-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">Q2.2022</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Listing on Dex</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>1st Game Close Beta</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>1st Game Full Release</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Exchanger Listing</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>NFT MARKETPLACE</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Development</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Staking Rewards</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(100%, -40%); ">
                                            <img src="/public/assets/chess-dynamic-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">Q3.2022</span>
                                            </div>

                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Alpha Testing</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Exchanger Listing</span>
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(10%, 2%); ">
                                            <img src="/public/assets/flag.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">Q4.2022</span>
                                            </div>

                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Close Beta</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Full Release</span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    

                                        <div style=" position: absolute; transform: translate(35%, 5%); ">
                                            <img src="/public/assets/paint-kit-dynamic-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">Q1.2023</span>
                                            </div>
        
                                            <div style="margin-bottom: 12px;">
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Exchanger Listing</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>3rd Game Development</span>
                                                </div>
                                            </div>         
                                        </div>

                                        <div style="border-top: 1px solid white; width: 90%; margin: auto;"></div>

                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">Q3.2023</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>System Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Ecosystem Maintenance</span>
                                                </div>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">2024</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Business Expansion</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>3rd Game Alpha Testing</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>System Improvement</span>
                                                </div>

                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>More Game Development</span>
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(34%, -20%); ">
                                            <img src="/public/assets/gym-front-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">2025</span>
                                            </div>
                                            <div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>More Game Launch</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>System Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Ecosystem Maintenance</span>
                                                </div>

                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Trust Fund Ideas</span>
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(40%, -15%); ">
                                            <img src="/public/assets/magic-trick-dynamic-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 10px;">
                                            <div>
                                                <span class="roadmap-font-title">2026</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>To The Moon</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(24%, -20%); ">
                                            <img src="/public/assets/rocket-front-clay.png">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
           
        </div>      
    </div>
</main>
<div class="container-fluid" style="background-color: #000000; min-height: 251px; display: flex; justify-content: center; align-items: center;">
    <div class="container ">
        <div class="row">
            <div class="col-sm-6 adjust-footer-mob-size">
                <img src="/public/assets/logo-footer.png">
                <div style="margin-top: 30px;">
                    <span>
                         2021 CreoEngine. All Rights Reserved
                    </span>
                </div>
            </div>
     
            <div class="col-sm-6 adjust-footer-mob-size">
                <div class="adjust-footer-text">
                    <span>
                        Any question / feedback? Please contact us:<br>contact@creoengine.com
                    </span>
                </div>
                <div style="float: right; margin-top: 30px;" >
                    <button class="btn-rounded-footer" onclick="parent.open('https://www.facebook.com/CreoEngineGlobal/')"><i class="fa-brands fa-facebook-f"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://twitter.com/creo_engine')"><i class="fa-brands fa-twitter"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://www.instagram.com/creoengine.official/')"><i class="fa-brands fa-instagram"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://discord.gg/X4zBzD92P9')"><i class="fa-brands fa-discord"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://t.me/CreoEngineChannel')"><i class="fa-solid fa-paper-plane"></i></button>
                    <button class="btn-rounded-footer"onclick="parent.open(' https://www.youtube.com/channel/UCiYbgRVmXNbX7iB9q_9sleA')"><i class="fa-brands fa-youtube"></i></button>
                    <button class="btn-rounded-footer btn-icon"><i class="fa-brands fa-linkedin-in"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="/public/js/animated-slide-up.js"></script>
<script src="/public/js/animate-svg-home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- <script>
    const copyBtn = document.getElementById('copy-btn');
    const copyText = document.getElementById('address-text');
   
    copyBtn.onclick = () => {
        copyText.select();
        document.execCommand('copy');
        copyText.blur();
        $('[data-toggle="tooltip"]').tooltip('enable').tooltip('hide').attr('data-original-title', 'Copied!').tooltip('show');
        
        setTimeout(function() {
            console.log('hihi')
            $('[data-toggle="tooltip"]').tooltip('hide').tooltip('disable')
        }, 1000);
        

    }
</script>
<script>
    var a = document.getElementById('bscscan-link');
    const Http = new XMLHttpRequest();
    const url = "https://bscscan.com/address/0xcCFb45B0bD3e9Fa145006c9Cf379F4b002f4daBA#code";
    Http.open("GET", url);
    Http.send();
    Http.onreadystatechange=(e)=>{
        console.log(Http.status)
        // console.log(a.href)
        if (Http.status==200){
            a.href = url;
        }
        else{
            a.href="/error-page";
        }
    }
</script> -->
</body>
</html>