<%- include ('partials/header',{title:"Creo Engine"}) %> 
<main>
    <div class="element-wrap-background-1">
        <div class="element-wrap-background-2" >
            <div style="display: flex; flex-direction: column; position: fixed; top: 23%;  right: 7%; justify-content: end; z-index: 1; ">
                <a href="https://creoengineofficial.medium.com/" target="_blank"><i class="fa-brands fa-medium fa-icon"></i></a>
                <a href="https://t.me/CreoEngineChannel" target="_blank"><i class="fa-solid fa-paper-plane fa-icon"></i></a>
                <a href="https://discord.gg/X4zBzD92P9" target="_blank"><i class="fa-brands fa-discord fa-icon"></i></a>
                <a href="https://twitter.com/creo_engine" target="_blank"><i class="fa-brands fa-twitter fa-icon"></i></a>
                
            </div>
            <section class="bg-home">
                <div class="container" style="margin-top: 5.625rem;">
                    <div class="row justify-content-center">
                        <div class="col-md-6" >
                            <div class="home-text-desc">
                                <p class='text-main' >
                                    BEST DECENTRALIZED
                                </p>
                                <p class="animate-text">
                                    <span>GAMING ECOSYSTEM PLATFORM</span>
                                    <span>MARKETPLACE FOR GAMING NFTS</span>
                                    <span>NFTS GAMING TO EARN AND TRADE</span>
                                   
                                 </p>
                            </div>
            
                            <div style="display: flex; flex-direction: row; margin-top: 1rem; margin-bottom: 1rem;">
                                <button class="whitepaper-btn" onclick="parent.open('https://tny.sh/CreoEngineWhitepaper')">WHITE PAPER</button>
                                <div style="display: flex; flex-direction: row;">
                                    <button title="Coming Soon" class="btn-store"><img src="/public/assets/appstore.png"></button>
                                    <button  title="Coming Soon" class="btn-store"><img src="/public/assets/googlestore.png" ></button>
                                </div>
                            </div>
                        <div>
                            <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
                                <div class="carousel-cell">
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/nrGxCqTACWM?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                       </div>
                       <div class="col-md-6 centering-content">
                            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                                <svg id="svg-home" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="339.22" height="478.109" viewBox="0 0 339.22 478.109">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: url(#pattern);
                                            }
                                        </style>
                                        <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 925 848">
                                            <image width="925" height="848" xlink:href="/public/assets/svg/coin-top.png"/>
                                        </pattern>
                                    </defs>
                                    <g id="coin-creo-home" data-name="coin creo home" transform="translate(-1205, -45.891)">
                                    <g  id="coin-bottom-g" transform="translate(1325.68, 287.488)">
                                        <image id="coin-bottom" data-name="coin bottom" width="218.54" height="216.512" xlink:href="/public/assets/svg/coin-bottom.png"/>
                                        <animateTransform id="anim" xlink:href="#coin-bottom" attributeName="transform" attributeType="XML"type="translate" from="-10 20" to="0 0"  dur="2s" additive="sum" begin="indefinite" />
                                        <!-- <animateTransform id="anim" xlink:href="#coin-bottom" attributeName="transform" attributeType="XML"type="translate" from="0 0" to="-10 20"  dur="2s" additive="sum" /> -->
                                    </g>
                                    <g id="coin-middle-g" transform="translate(1205, 119.909)">
                                        <image id="coin-middle" data-name="coin middle" width="127.234" height="131.671" transform="matrix(0.985, -0.174, 0.174, 0.985, 0, 23.83)" xlink:href="/public/assets/svg/coin-middle.png"/>
                                        <animateTransform id="anim2" xlink:href="#coin-middle" attributeName="transform" attributeType="XML"type="translate" from="20 10 " to="0 0" dur="2s" additive="sum" begin="indefinite" />
                                    </g>
                                    <g id="coin-top-g" transform="translate(1406.927, 55.891)">
                                        <rect id="coin-top" data-name="coin top" class="cls-1" width="88.914" height="80.762"/>
                                        <animateTransform id="anim3" xlink:href="#coin-top" attributeName="transform" attributeType="XML"type="translate" from="-10 40" to="0 0"  dur="2s" additive="sum" begin="indefinite" />
                                    </g>
                                    </g>
                                </svg>
                            </div>    
                       </div>
                   </div>
                </div>
            </section>
            <!-- WALLET-->    
            <section class="bg-wallet">
                <div class="container">
                    <div class="js-scroll wrap-wallet-container">
                        <div class="wrap-row-wallet centering-content">
                            <div >
                                <img src="/public/assets/wallet/binance.png" >
                            </div>
                            <div  >
                                <img src="/public/assets/wallet/metamask.png" >
                            </div>
                            <div >
                                <img src="/public/assets/wallet/trust-wallet.png" >
                            </div>
                        </div>
                        <div class="wrap-row-wallet centering-content">
                            <div>
                                <img src="/public/assets/wallet/CoinGecko.png" >
                            </div>
                            
                            <div >
                                <a href="https://coinmarketcap.com/currencies/creo-engine/" target="_blank">
                                    <img  src="/public/assets/wallet/coin_market_cap.png">
                                </a>
                                
                            </div>
                        </div>
                   </div>
                </div>
            </section>
            <!--ABOUT CREO ENGINE-->
            <section>
                <div class="container-fluid" style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(84,51,255,0.8));">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="position: relative; bottom: 0;">
                                    <img  data-inviewport="slide-up-game" src="/public/assets/svg/joystick.svg" >
                                </div>

                            </div>
                            <div class="col-md-8" style="display: flex; justify-content: center; align-items: center;">
                                <div style="float: right; text-align: right; "> 
                                    <div >
                                        <span style="font-size: 250%; font-weight: 700;">What is CreoEngine</span>
                                    </div>
                                    <div >
                                        <p >CreoEngine is a platform to connect game developers and players around the world 
                                            under our healthy ecosystem using blockchain technology. In addition to that, CreoEngine also provides high quality 
                                            Play-to-Earn video games for players to enjoy</p>
                                    </div>
                                </div>  

                            </div>
                        </div>
                    </div>
                </div>
            
            </section>
            <!--SMART CONTRACT-->
            <section>
                <div class="container-fluid" style="background-image: radial-gradient( rgba(84,51,255,0.8), rgba(255,0,0,0));   ">
                    <div class="container">
                        <div class="row">  
                            <div class="col-md-8" style="display: flex; justify-content: right; align-items: center;">
                                <div style="float: right; text-align: center; width: 80%; "> 
                                    <div >
                                        <span style="font-size: 250%; font-weight: 700;">SMART CONTRACT</span>
                                    </div>
                                    <div >
                                        <p >To ensure the safety of CreoEngine Ecosystem users, we provide transparency 
                                            in our Smart Contracts for token sale, release, vesting and liquidity.</p>
                                    </div>
                                    <div >
                                        <div style="display: flex; flex-direction: row;justify-content: center; align-items: center;">
                                            <div style="display: flex; align-items: center; margin: 0.5rem;">
                                                <a href="https://github.com/AuditRateTech/Smart-Contract-Audits/blob/main/CREOENGINE_0x0364e3691b8dFBb213e4E897d5A0DD0C622D672f.pdf" target="_blank">
                                                    <img src="/public/assets/audit-rate.png">
                                                </a>
                                                
                                            </div>
                                            <div style="height: 60px; display: flex; align-items: center; margin: 0.6rem;">
                                                <a href="https://www.certik.com/projects/creo-engine" target="_blank">
                                                    <img src="/public/assets/certik-1.png" >

                                                </a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>  

                            </div>

                            <div class="col-md-4" style="display: flex; justify-content: end;">
                                <svg id="svg-about" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="253" height="300" viewBox="0 0 253 300">
                                    <defs>
                                      <pattern id="pattern-1" width="1" height="1" viewBox="0 0 158 211">
                                        <image preserveAspectRatio="xMidYMid slice" width="158" height="211.887" xlink:href="/public/assets/svg/padlock-1-2.png"/>
                                      </pattern>
                                      <pattern id="pattern-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 490 423">
                                        <image width="490" height="423" xlink:href="/public/assets/svg/padlock-1-1.png"/>
                                      </pattern>
                                    </defs>
                                    <g id="smart-contract" data-name="Group 1115" transform="translate(-1262 -856)">
                                      <rect id="PADKEY2_3x" data-name="PADKEY2@3x" width="158" height="211" transform="translate(1357 856)" fill="url(#pattern-1)"/>
                                      <animateTransform id="anim4" xlink:href="#PADKEY2_3x" attributeName="transform" attributeType="XML"type="translate" from="-10 30" to="0 0"  dur="1s" additive="sum" begin="indefinite" />
                                      <rect id="PADKEY_3x" data-name="PADKEY@3x" width="253" height="218" transform="translate(1262 938)" fill="url(#pattern-2)"/>
                                    </g>
                                </svg>

                            </div>
                        </div>
                    </div>
                </div>
            
            </section>
            
            
            <!--OUR CREOVERSES-->
            <section style=" display: flex; flex-direction: column; justify-content: center; align-items: center; ">  
                <div class="container-fluid bg-creoverse">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="position: relative; bottom: -2rem;">
                                    <img  data-inviewport="slide-left" src="/public/assets/planet.png" >
                                </div>
                            </div>
                            <div class="col-md-6" style="display: inline-flex; justify-content: center; align-items: center;">
                                <div style="float: left; text-align: left; display: flex;  align-items: center; "> 
                                    <div style="display: block;z-index: 1; ">
                                        <div >
                                            <span style="font-size: 250%; font-weight: 700;">OUR CREOVERSE</span>
                                        </div>
                                        <div >
                                            <p >All Creo Engine games are intertwined with each other, players can use their assets and materials in one game, or have them sent to the other games and utilize them there.</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <!-- <div class="container particle-icon">
                                <img data-inviewport="slide-up-particle" src="/public/assets/particle.png" style="float: right; ">
                            </div> -->
                            <!-- <img src="/public/assets/particle.png" style="float: right; transform: translateY(50%); position: unset;"> --> 
                        </div> 
                    </div>
                </div>
                <div class="container particle-icon">
                    <img data-inviewport="slide-up-particle" src="/public/assets/particle.png" style="float: right; ">
                </div>

                <div class="container" style="z-index: 0; margin-top: 2rem;">
                    <div class="wrap-list-game-container">
                        <% for (var i = 0; i < listGame.length; i++) { %>
                            <div class="games-container">
                                <div style="display: flex; flex-direction: row; margin: 0.625rem; align-items: center; justify-content: space-around;">
                                    <div style="align-items: center;display: flex;justify-content: center; ">
                                        <div >
                                            <img src="<%= listGame[i].url %>">
                                        </div>
                                    </div>
                                    <div style="display: block; padding-left: 0.2rem;">
                                        <div style="display: block;  ">
                                            <div>
                                                <span style="font-size: 1.4rem; font-weight: 700;"><%= listGame[i].name %></span>
                                            </div>
                                            <div>
                                                <span style="color: #B133FF; font-weight: 600;"><%= listGame[i].desc %></span>
                                            </div>
                                            <div style="display: flex; flex-direction: row;">
                                                
                                                
                                                <% if (listGame[i].name == 'Evermore Knights') { %>
                                                    <a href="<%= listGame[i].website%>" target="_blank"><i class="fa-solid fa-globe fa-icon-small"></i></a>
                                                    <a href= "https://discord.gg/evermoreknights" target="_blank"><i class="fa-brands fa-discord fa-icon-small"></i></a>
                                                <%} else { %>
                                                    <i class="fa-solid fa-globe fa-icon-small"></i>
                                                    <i class="fa-brands fa-discord fa-icon-small"></i>
                                                <% } %>
                                
                                            </div>
                                        </div>
                                    </div>
                                    <% if (listGame[i].name != 'Evermore Knights') { %>
                                        <div class="coming-soon-text">
                                            <span>COMING SOON</span>
                                        </div>
                                    <% } else { %>
                                        <a href="https://evermoreknights.com/play" target="_blank" class="btn-try-demo">
                                            <div class="coming-soon-text">
                                                <span>TRY DEMO</span>
                                            </div>
                                        </a>

                                    <% } %>
        
                                </div>
                                
                                <div style="object-fit: cover; width: 100%;">
                                    <img src="<%= listGame[i].url_desc %>">
                                </div>                 
                            </div>
                        <% } %>                  
                    </div>
                </div>
            </section>

            <!--SMART CONTRACT ADDRESS-->
            <section style="display: flex; flex-direction: column; justify-content: center;">
                <div class="container">
                    <div class="centering-content">
                        <span class="font-title2-size">CREO ENGINE CONTRACT ADDRESS</span>
                    </div>
                </div>
                <div class="container" style="margin-top: 2rem;">
                    <div class="address-token-card">
                        <div class="icon-copy " data-toggle="tooltip" data-placement="bottom"  id="copy-btn" style="cursor: pointer;">
                            <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 1rem;">
                                <title>copy</title>
                                <path id="path"  fill-rule="evenodd" clip-rule="evenodd" d="M6 3C6 1.34315 7.34315 0 9 0H14C14.2652 0 14.5196 0.105357 14.7071 0.292893L21.7071 7.29289C21.8946 7.48043 22 7.73478 22 8V17C22 18.6569 20.6569 20 19 20H18V21C18 22.6569 16.6569 24 15 24H5C3.34315 24 2 22.6569 2 21V7C2 5.34315 3.34315 4 5 4H6V3ZM6 6H5C4.44772 6 4 6.44772 4 7V21C4 21.5523 4.44772 22 5 22H15C15.5523 22 16 21.5523 16 21V20H9C7.34315 20 6 18.6569 6 17V6ZM9 2C8.44772 2 8 2.44772 8 3V17C8 17.5523 8.44771 18 9 18H19C19.5523 18 20 17.5523 20 17V9H16C14.3431 9 13 7.65685 13 6V2H9ZM15 3.41421L18.5858 7H16C15.4477 7 15 6.55228 15 6V3.41421Z" fill="#293644"/>
                            </svg>
                        </div>
                        <input type="text" class="val" value="0x0364e3691b8dFBb213e4E897d5A0DD0C622D672f" readonly id="address-text">
                        <div style="position: absolute;  right: -1rem; ">
                            <img src="/public/assets/verify.png">
                        </div>
                    </div>
                    <div style="margin-top: 2rem">
                        <a id="bscscan-link"  target="_blank" href="https://bscscan.com/token/0x0364e3691b8dFBb213e4E897d5A0DD0C622D672f">
                            <div class="wrap-bscscan-btn-img">
                                <img src="/public/assets/bscscan-logo.png" width="80%" style="margin: 0.2rem;"/>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!--TOKENOMICS-->
            <section  id="tokenomics" >
                <div class="container-fluid" >
                    <div class="container">
                        <div class="title-background" style="padding: 1rem; display: flex; justify-content: center; align-items: center;">
                            <span class="font-title-size">TOKENOMICS</span>
                        </div>
                    </div>
                    <div class="container" style="width: 100%; margin-top: 2rem; margin-bottom: 2rem; padding: 0;">
                        <%- include ('../public/assets/svg/chart-svg.svg') %>    
                    </div>            
                </div>
            </section>
           
            <div style="background: url(/public/assets/GRAPHIC\ BG.png); background-size: contain; background-repeat: no-repeat; background-position: center;">         

                <!--INVESTOR & PARTNERSHIP-->
                <section style="display: flex; justify-content: center; align-items: center;">
                    <div class="container-fluid title-background" style="display: flex; justify-content: center; align-items: center; ">
                        <div class="container" style="margin-top: 2rem; margin-bottom: 2rem;">
                            <div  style="text-align: center; padding-top: 2rem;">
                                <span data-inviewport="fadeIn" class="font-title-size">INCUBATED BY</span>
                            </div>
                            <div class="centering-content" style="margin-top: 1rem;">
                                <div style="display: grid; grid-column: auto;  grid-template-columns: repeat(2, 1fr);">
                                    <div class="partnership-img-wrap">
                                        <img src="/public/assets/partner/SKYX-1.png">
                                    </div>
                                    <div class="partnership-img-wrap">
                                        <img src="/public/assets/partner/babylons.png">
                                    </div>
                                </div>
                            </div>
                            <div  style="text-align: center; padding-top: 2rem;">
                                <span data-inviewport="fadeIn" class="font-title-size">PARTNERSHIP</span>
                            </div>
                            <div class="desktop-view">
                                <div  style="margin-top: 1rem;;">
                                    <div data-inviewport="fadeIn" style="display: grid; grid-column: auto;  grid-template-columns: repeat(3,1fr) ;" >
                                       
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/MOONWHALE_LOGOFINAL_Color.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/yay.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/KOM Horizontal with White Text.png">
                                        </div>
                                        
                                    </div>
                                </div>
    
                                <div style="margin-top: 1rem;">
                                    <div data-inviewport="fadeIn" style="display: grid; grid-column: auto;  grid-template-columns: repeat(5,1fr) ;" >
                                       
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/crytpleague.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/gusta color.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/asto.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/logo cuan b capital.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/STRT.png">
                                        </div>
                                    </div>
                                </div>
    
                                <div style="margin-top: 1rem;">
                                    <div data-inviewport="fadeIn" style="display: grid; grid-column: auto;  grid-template-columns: repeat(6,1fr) ;" >
                                       
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/AB Ventures.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/tc capital.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/muse.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/phoenix.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/dao.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/safe-launch.png">
                                        </div>
                                    </div>
                                </div>
    
                                <div style="margin-top: 1rem;">
                                    <div data-inviewport="fadeIn" style="display: grid; grid-column: auto;  grid-template-columns: repeat(6,1fr) ;" >
                                       
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/ksm.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/SMO CAPITAL GREEN Logo.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/dex_capital.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/koi.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/GotBit-logo-1.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/mpad_mono.png">
                                        </div>
                                    </div>
                                </div>
    
                                <div  style="margin-top: 1rem;">
                                    <div data-inviewport="fadeIn" style="display: grid; grid-column: auto;  grid-template-columns: repeat(6,1fr) ;" >
                                       
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/Milkyway_logo_400x400.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/tugou.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/auto-sultan.png">
                                        </div>
                                        <div class="partnership-img-wrap" >
                                            <img src="/public/assets/partner/lunapad.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/CHEESUS LOGO V2.png">
                                        </div>
                                        <div class="partnership-img-wrap">
                                            <img src="/public/assets/partner/cryptoiz.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-view" data-inviewport="fadeIn"  >
                                       
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/MOONWHALE_LOGOFINAL_Color.png">
                                </div>
                                <div class="partnership-img-wrap" >
                                    <img src="/public/assets/partner/yay.png">
                                </div>
                                <div class="partnership-img-wrap" >
                                    <img src="/public/assets/partner/KOM Horizontal with White Text.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/crytpleague.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/gusta color.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/asto.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/logo cuan b capital.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/STRT.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/AB Ventures.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/tc capital.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/muse.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/phoenix.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/dao.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/safe-launch.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/ksm.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/SMO CAPITAL GREEN Logo.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/dex_capital.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/koi.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/GotBit-logo-1.png">
                                </div>
                                <div class="partnership-img-wrap" >
                                    <img src="/public/assets/partner/mpad_mono.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/Milkyway_logo_400x400.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/tugou.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/auto-sultan.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/lunapad.png">
                                </div>
                                <div class="partnership-img-wrap" >
                                    <img src="/public/assets/partner/CHEESUS LOGO V2.png">
                                </div>
                                <div class="partnership-img-wrap">
                                    <img src="/public/assets/partner/cryptoiz.png">
                                </div>
                            </div>

                            <div  style="text-align: center; padding-top: 2rem;">
                                <span data-inviewport="fadeIn" class="font-title-size">PRESS RELEASE</span>
                            </div>
                            <div  style="margin-top: 1rem;">
                                <div class="wrap-partnership-container">
                                    <div class="partnership-img-wrap" >
                                        <img src="/public/assets/partner/MarketWatch.png">
                                    </div>
                                    <div class="partnership-img-wrap">
                                        <img src="/public/assets/partner/new-york-city-news.png">
                                    </div>
                                    <div class="partnership-img-wrap">
                                        <img src="/public/assets/partner/big-news-network.png">
                                    </div>
                                    <div class="partnership-img-wrap">
                                        <img src="/public/assets/partner/blockchainmedia.png">
                                    </div>
                                    <div class="partnership-img-wrap">
                                        <img src="/public/assets/partner/fox-40.png">
                                    </div>
                                    
                                    <div class="partnership-img-wrap">
                                        <img src="/public/assets/partner/RFD-tv.png">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
               
                <!--TEAM-->
                <section>
                    <div class="container-fluid  ">
                        <div class="container ">
                            <div>
                                <div style="display: flex; flex-direction: column; text-align: center; margin-bottom: 1rem;">
                                    <span class="font-title-size">TEAM</span>
                                    <span style="color: white; font-size: 120%; font-weight: 500;">The CreoEngine team is a group of developers, operators, marketers, strategist and<br>designers
                                        with expertise in their respective fields.
                                    </span>
                                </div>

                                <div data-inviewport="fadeIn" class=" wrap-team-member-container">
                                    <% for (var i = 0; i < listTeam.length; i++) { %>
                                        <div class="team-member-container">
                                            <div style="     width: 60%;
                                            display: flex;
                                            justify-content: center; ">
                                                <div style="position: relative;">
                                                    <img src="<%= listTeam[i].url %>" >

                                                    <div class="social-linkedin">
                                                        <a href="<%= listTeam[i].linkedin%>" target="_blank" style="cursor: <%= listTeam[i].linkedin=='' ? 'not-allowed' : 'pointer' %>" ><img src="/public/assets/linkedin.png"></a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div style="display: block;  text-align: center;">
                                                <div>
                                                    <span  style="font-weight: 600;"><%= listTeam[i].name %></span>
                                                </div>
                                                <div>
                                                    <span class="color-default" style="font-weight: 600;"><%= listTeam[i].title %></span>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--ADVISOR-->
                <section style="display: flex; align-items: center;">
                    <div class="container-fluid">
                        <div class="container">
                            <div>
                                <div style="display: flex; flex-direction: column; text-align: center; margin-bottom: 1rem;">
                                    <span class="font-title-size">ADVISORS</span>
                                </div>

                                <div data-inviewport="fadeIn" class=" wrap-team-member-container">
                                    <div class="team-member-container">
                                        <div style="width: 60%; display: flex; justify-content: center; ">
                                            <div style="position: relative;">
                                                <img src="/public/assets/team/JIMMY.png">

                                                <div class="social-linkedin">
                                                    <a href="https://www.linkedin.com/in/jmyn" target="_blank" style="cursor: pointer" ><img src="/public/assets/linkedin.png"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div style="display: block;  text-align: center;">
                                            <div>
                                                <span  style="font-weight: 600;">JIMMY YAN</span>
                                            </div>
                                            <div>
                                                <span class="color-default" style="font-weight: 600;">ADVISOR & FOUNDER OF STRT BUTTON</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-member-container">
                                        <div style="width: 60%; display: flex; justify-content: center; ">
                                            <div style="position: relative;">
                                                <img src="/public/assets/team/SIGIT.png">

                                                <div class="social-linkedin">
                                                    <a href="https://www.linkedin.com/in/sigit-tanoko-9a718b86/" target="_blank" style="cursor: pointer" ><img src="/public/assets/linkedin.png"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div style="display: block;  text-align: center;">
                                            <div>
                                                <span  style="font-weight: 600;">SIGIT PUTRA TANOKO .ST</span>
                                            </div>
                                            <div>
                                                <span class="color-default" style="font-weight: 600;">ADVISOR & FOUNDER OF SKYX</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-member-container">
                                        <div style="width: 60%; display: flex; justify-content: center; ">
                                            <div style="position: relative;">
                                                <img src="/public/assets/team/JUNI.png">

                                                <div class="social-linkedin">
                                                    <a href="https://www.linkedin.com/in/juni-landa-kurniawan-087ab8228" target="_blank" style="cursor:  pointer" ><img src="/public/assets/linkedin.png"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div style="display: block;  text-align: center;">
                                            <div>
                                                <span  style="font-weight: 600;">JUNI LANDA KURIAWAN .ST</span>
                                            </div>
                                            <div>
                                                <span class="color-default" style="font-weight: 600;">ADVISOR & FOUNDER OF CUANB CAPITAL</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-member-container">
                                        <div style="width: 60%; display: flex; justify-content: center; ">
                                            <div style="position: relative;">
                                                <img src="/public/assets/team/ROBY.png">

                                                <div class="social-linkedin">
                                                    <a href="https://www.linkedin.com/in/robby678/" target="_blank" style="cursor: pointer" ><img src="/public/assets/linkedin.png"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div style="display: block;  text-align: center;">
                                            <div>
                                                <span  style="font-weight: 600;">ROBBY JEO</span>
                                            </div>
                                            <div>
                                                <span class="color-default" style="font-weight: 600;">ADVISOR & FOUNDER OF KOMMUNITAS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-member-container">
                                        <div style="width: 60%; display: flex; justify-content: center; ">
                                            <div style="position: relative;">
                                                <img src="/public/assets/team/BUDI.png">

                                                <div class="social-linkedin">
                                                    <a href="" target="_blank" style="cursor: not-allowed" ><img src="/public/assets/linkedin.png"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div style="display: block;  text-align: center;">
                                            <div>
                                                <span  style="font-weight: 600;">BUDI TUNJUNG</span>
                                            </div>
                                            <div>
                                                <span class="color-default" style="font-weight: 600;">INVESTMENT MANAGER</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="team-member-container">
                                        <div style="width: 60%; display: flex; justify-content: center; ">
                                            <div style="position: relative;">
                                                <img src="/public/assets/team/JVR.png">

                                                <div class="social-linkedin">
                                                    <a href="" target="_blank" style="cursor: not-allowed" ><img src="/public/assets/linkedin.png"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div style="display: block;  text-align: center;">
                                            <div>
                                                <span  style="font-weight: 600;">JAYA V RAJAN</span>
                                            </div>
                                            <div>
                                                <span class="color-default" style="font-weight: 600;">ADVISOR & CO FOUNDER OF CHAIN GUARDS</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="team-member-container">
                                        <div style="width: 60%; display: flex; justify-content: center; ">
                                            <div style="position: relative;">
                                                <img src="/public/assets/team/NAUT.png">

                                                <div class="social-linkedin">
                                                    <a href="" target="_blank" style="cursor: not-allowed" ><img src="/public/assets/linkedin.png"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div style="display: block;  text-align: center;">
                                            <div>
                                                <span  style="font-weight: 600;">DR. NAUT (TOBY ROTSCHILD)</span>
                                            </div>
                                            <div>
                                                <span class="color-default" style="font-weight: 600;">ADVISOR & CO FOUNDER OF ASTRONAUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--ROADMAP-->
                <section style="display: flex; justify-content: center; align-items: center;" id="roadmap">
                    <div class="container-fluid">
                        <div class="container">
                            <div class="title-background" style="padding: 1rem; display: flex; justify-content: center; align-items: center;">
                                <span class="font-title-size">ROADMAP</span>
                            </div>

                            <div style="margin-top: 1rem; margin-bottom: 1rem;" class="carousel-roadmap" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }' tabindex="5">

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">Q1.2022</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>1st game alpha testing</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>IDO SALE in multiple launchpad</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>First Exchanger Listing</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Listing on Dex</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Development</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>NFT Development / NFT Marketplace</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(55%, -37%); ">
                                            <img src="/public/assets/puzzle-dynamic-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block;margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">Q2.2022</span>
                                            </div>
        
                                            <div>        
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>1st Game Close Beta</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>1st Game Full Release</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Exchanger Listing</span>
                                                </div>
                                                
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Alpha Testing</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Staking Rewards</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(100%, -20%); ">
                                            <img src="/public/assets/chess-dynamic-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">Q3.2022</span>
                                            </div>

                                            <div>
                                                
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>3rd Game Development</span>
                                                </div>
                                                
                                            </div>

                                            

                                        </div>

                                        <div style="border-top: 1px solid white; width: 90%; margin: auto;"></div>

                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">Q4.2022</span>
                                            </div>

                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Close Beta</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>2nd Game Full Release</span>
                                                </div>
                                                
                                            </div>

                                            

                                        </div>

                                        <!-- <div style=" position: absolute; transform: translate(10%, 2%); ">
                                            <img src="/public/assets/flag.png">
                                        </div> -->
                                    </div>
                                </div>

                                

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">Q1.2023</span>
                                            </div>
        
                                            <div >
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Exchanger Listing</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>3rd Game Development</span>
                                                </div>
                                            </div>         
                                        </div>

                                        <div style="border-top: 1px solid white; width: 90%; margin: auto;"></div>

                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">Q3.2023</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>System Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Ecosystem Maintenance</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>3rd Game Alpha Testing</span>
                                                </div>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">Q4.2023</span>
                                            </div>

                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>3rd Game Alpha Testing</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>3rd Game Full Release</span>
                                                </div>
                                            </div>
                                        </div>
                                    

                                        <div style=" position: absolute; transform: translate(35%, 5%); ">
                                            <img src="/public/assets/paint-kit-dynamic-clay.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">2024</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Business Expansion</span>
                                                </div>
                                               
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>System Improvement</span>
                                                </div>

                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>4th Game Alpha Testing</span>
                                                </div>

                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>More Game Development</span>
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(40%, -20%); ">
                                            <img src="/public/assets/magic-trick-dynamic-clay.png">
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">2025</span>
                                            </div>
                                            <div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>4th Game Close Beta</span>
                                                </div>
                                                <div class="roadmap-list-text" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>4th Game Full Release</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>More Game Launch</span>
                                                </div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Game Feature Improvement</span>
                                                </div>

                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>System Improvement</span>
                                                </div>

                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Ecosystem Maintenance</span>
                                                </div>

                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>Trust Fund Ideas</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(34%, -30%); ">
                                            <img src="/public/assets/gym-front-clay.png">
                                        </div>

                                        
                                    </div>
                                </div>

                                <div class="centering-content" >
                                    <div class="wrap-roadmap-item-container">
                                        <div style="display: block; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                            <div>
                                                <span class="roadmap-font-title">2026</span>
                                            </div>
        
                                            <div>
                                                <div class="roadmap-list-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10.75" height="10.75" viewBox="0 0 10.75 10.75">
                                                        <path id="Icon_ionic-ios-checkmark-circle" data-name="Icon ionic-ios-checkmark-circle" d="M8.75,3.375A5.375,5.375,0,1,0,14.125,8.75,5.374,5.374,0,0,0,8.75,3.375Z" transform="translate(-3.375 -3.375)" fill="#fff"/>
                                                    </svg>
                                                    <span>To The Moon</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" position: absolute; transform: translate(24%, -20%); ">
                                            <img src="/public/assets/rocket-front-clay.png">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
           
        </div>      
    </div>
</main>
<div class="container-fluid" style="background-color: #000000; padding: 3rem; display: flex; justify-content: center; align-items: center;">
    <div class="container ">
        <div class="row">
            <div class="col-sm-6 adjust-footer-mob-size">
                <img src="/public/assets/logo-footer.png">
                <div style="margin-top: 2rem;">
                    <span>
                         2021 CreoEngine. All Rights Reserved
                    </span>
                </div>
            </div>
     
            <div class="col-sm-6 adjust-footer-mob-size">
                <div class="adjust-footer-text">
                    <span>
                        Any question / feedback? Please contact us:<br>contact@creoengine.com
                    </span>
                </div>
                <div style="float: right; margin-top: 2rem;" >
                    <button class="btn-rounded-footer" onclick="parent.open('https://www.facebook.com/CreoEngineGlobal/')"><i class="fa-brands fa-facebook-f"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://twitter.com/creo_engine')"><i class="fa-brands fa-twitter"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://www.instagram.com/creoengine.official/')"><i class="fa-brands fa-instagram"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://discord.gg/evermoreknights')"><i class="fa-brands fa-discord"></i></button>
                    <button class="btn-rounded-footer" onclick="parent.open('https://t.me/CreoEngineChannel')"><i class="fa-solid fa-paper-plane"></i></button>
                    <button class="btn-rounded-footer"onclick="parent.open(' https://www.youtube.com/channel/UCiYbgRVmXNbX7iB9q_9sleA')"><i class="fa-brands fa-youtube"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="/public/js/animated-slide-up.js"></script>
<script src="/public/js/animate-svg-home.js"></script>

<script>
    const copyBtn = document.getElementById('copy-btn');
    const copyText = document.getElementById('address-text');
   
    copyBtn.onclick = () => {
        copyText.select();
        document.execCommand('copy');
        copyText.blur();
        $('[data-toggle="tooltip"]').tooltip('enable').tooltip('hide').attr('data-original-title', 'Copied!').tooltip('show');
        
        setTimeout(function() {
            console.log('hihi')
            $('[data-toggle="tooltip"]').tooltip('hide').tooltip('disable')
        }, 1000);
        

    }
</script>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover'});
});
</script>
</body>
</html>